<div class="modal" *ngIf="modalOpen">
    <div class="modal-wrapper">
      <div class="modal-close" (click)="modalOpen = false"></div>
      <div class="modal-content">
        <header>
          <h4>{{ "APP.select_image" | translate }}</h4>
        </header>
  
        <div class="content">
          <app-gallery-view
            [selectable]="true"
            [singleSelectable]="true"
            [editable]="false"
          ></app-gallery-view>
        </div>
      </div>
    </div>
</div>

<div class="settings-form-container">
    <div class="settings-form-title">{{ title }}</div>
    <div>
        <div class="settings-input-wrapper tabs-header-settings-form">
            <rap-step-tabs class="settings-tabs">
                <rap-step-tab [active]="true" [title]="'settings.generalSettings' | translate">
                    <form [formGroup]="generalSettingsForm" (submit)="getEditSettingsPageFormData()">
                        <div class="settings-input-content settings-img-container" (click)="onPressLogo()">
                            <label>{{ "settings.logo" | translate }}</label>
                            <div class="upload-file">
                                <div class="upload-file-img logo-img cursor-pointer">
                                    <div class="site-icon-content-logo">
                                        200&#215;100
                                        <img *ngIf="selectedImageLogo" src="{{ host + selectedImageLogo?.src }}" class="selected-logo-img"/>
                                    </div>
                                </div>
                                <div *ngIf="!selectedImageLogo">
                                    <div class="reset-error-content">
                                      <div class="error-message">
                                        <img class="error-message-icon" src="assets/icons/mistake-red.svg"/>
                                        <div class="error-message-text">{{ 'settings.logoIsRequired' | translate }}</div>
                                      </div>
                                    </div>
                                </div>
                                <!-- <div class="upload-file-container cursor-pointer">
                                    <div class="upload-file-container__input-wrapper padding-left-right_15">
                                        <span class="upload-file-container__input-text">Завантажити фото</span>
                                        <input matInput
                                            formControlName="logo"
                                            class="upload-file-container__input"
                                            id="logo">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="settings-input-content settings-img-container" (click)="onPressSiteIcon()">
                            <label>{{ "settings.siteIcon" | translate }}</label>
                            <div class="upload-file upload-file-bottom">
                                <div class="upload-file-img site-icon-img cursor-pointer">
                                    <div class="site-icon-content">112&#215;112</div>
                                    <img *ngIf="selectedImageSiteIcon" src="{{ host + selectedImageSiteIcon?.src }}" class="selected-site-icon-img"/>
                                </div>
                                <div *ngIf="!selectedImageSiteIcon">
                                    <div class="reset-error-content">
                                      <div class="error-message">
                                        <img class="error-message-icon" src="assets/icons/mistake-red.svg"/>
                                        <div class="error-message-text">{{ 'settings.siteIconIsRequired' | translate }}</div>
                                      </div>
                                    </div>
                                </div>
                                <!-- <div class="upload-file-container cursor-pointer">
                                    <div class="upload-file-container__input-wrapper padding-left-right_15">
                                        <span class="upload-file-container__input-text">Завантажити фото</span>
                                        <input matInput
                                            formControlName="siteIcon"
                                            class="upload-file-container__input"
                                            id="siteIcon">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="settings-input-content">
                            <label>{{ "settings.location" | translate }}</label>
                            <div>
                                <input matInput
                                    formControlName="location"
                                    class="settings-input"
                                    id="location"
                                    [(ngModel)]="selectedPlatform.location">
                            </div>
                        </div>
                    </form>
                    <rap-step-tabs (onSelect)="onClickChangeTabDescription($event)">
                        <rap-step-tab
                            *ngFor="let item of selectedPlatform?.descriptions; let indexAddress = index;"
                            [imgSrc]="languageService.getFromList(item?.lang_id)?.flag"
                            [title]="langShortTitle[item?.lang_id]?.title | translate"
                            (click)="getDescription(item)"
                        >
                        <form [formGroup]="shopDetailsForm">
                            <div formArrayName="items" *ngFor="let itemDesc of shopDetailsForm.get('items')['controls']; let i = index;">
                                <div [formGroupName]="i">
                                    <div class="settings-input-content">
                                        <label>{{ "settings.shopName" | translate }}</label>
                                        <div>
                                            <input matInput
                                                formControlName="name"
                                                class="settings-input"
                                                id="name"
                                                (change)="getDescription(item)"
                                                required>
                                        </div>
                                    </div>
                                    <div class="settings-input-content">
                                        <label>{{ "settings.address" | translate }}</label>
                                        <div>
                                            <input matInput
                                                formControlName="adress"
                                                class="settings-input"
                                                id="adress"
                                                (change)="getDescription(item)"
                                                required>
                                        </div>
                                    </div>
                                    <div class="settings-input-content">
                                        <label>{{ "settings.workSchedule" | translate }}</label>
                                        <div>
                                            <input matInput
                                                formControlName="work_schedule"
                                                class="settings-input"
                                                id="work_schedule"
                                                (change)="getDescription(item)"
                                                required>
                                        </div>
                                    </div>
                                    <div class="settings-input-content">
                                        <label>{{ "settings.metaTagDescription" | translate }}</label>
                                        <div>
                                            <input matInput
                                                formControlName="meta_description"
                                                class="settings-input-meta margin-top__10"
                                                id="meta_description"
                                                (change)="getDescription(item)"
                                                required>
                                        </div>
                                    </div>
                                    <div class="settings-input-content">
                                        <label>{{ "settings.metaTagKeywords" | translate }}</label>
                                        <div>
                                            <input matInput
                                                formControlName="meta_keywords"
                                                class="settings-input-meta"
                                                id="meta_keywords"
                                                (change)="getDescription(item)"
                                                required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </rap-step-tab>
                    </rap-step-tabs>
                    <button
                        style="position: relative;"
                        data-tooltip-left="Save"
                        role="button"
                        (click)="saveGeneralSettingsData()"
                        class="button transparent radius general-settings__save-btn"
                    >
                        <rap-svg-ico [src]="'assets/icons/save.svg'" class="edit-btn"></rap-svg-ico>
                    </button>
                </rap-step-tab>
              
                <rap-step-tab [title]="'settings.contactData' | translate">
                    <form [formGroup]="siteSettingsContactTopForm" (submit)="getSiteSettingsContactTopForm()" class="phone-form-container">
                        <label class="phone-input">{{ "settings.siteTelephone" | translate }}</label>
                        <div *ngFor="let phoneNumber of selectedPlatform?.phones; index as i">
                            <div class="settings-input-content">
                                <div></div>
                                <div class="settings-input-content-wrapper">
                                    <input matInput
                                        formControlName="siteTelephone"
                                        class="settings-input site-telephone-input"
                                        id="siteTelephone"
                                        placeholder="{{ phoneNumber.phone }}"
                                        [readonly]="true">
                                    <rap-delete-button
                                        data-tooltip-left="Delete"
                                        class="button transparent radius delete-icon cursor-pointer"
                                        (click)="deletePhoneNumber(phoneNumber)"
                                        [src]="'assets/icons/delete.svg'"
                                    ></rap-delete-button>
                                </div>
                            </div>
                          
                            <!-- <div class="settings-input-content margin-bottom__10">
                                <div></div>
                                <div class="settings-input-content-wrapper">
                                    <input matInput
                                        formControlName="siteTelephone"
                                        class="settings-input"
                                        id="siteTelephone"
                                        [(ngModel)]="phoneNumber.phone">
                                    <rap-delete-button
                                        data-tooltip-left="Delete"
                                        class="button transparent radius delete-icon cursor-pointer"
                                        
                                        [src]="'assets/icons/delete.svg'"
                                    ></rap-delete-button>
                                </div>
                            </div> -->
                        </div>
                        <div class="settings-input-content">
                            <div></div>
                            <div class="settings-input-content-wrapper">
                                <input matInput
                                    formControlName="siteTelephonePlus"
                                    [(ngModel)]="additionalPhoneNumber"
                                    class="settings-input settings-input-plus"
                                />
                                <rap-svg-ico 
                                    [src]="'assets/icons/plus.svg'"
                                    class="plus-icon cursor-pointer"
                                    (click)="addItem(additionalPhoneNumber)"
                                ></rap-svg-ico>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="siteSettingsContactBottomForm" (submit)="getSiteSettingsContactBottomForm()">
                        <div class="settings-input-content email-input-content">
                            <label>{{ "settings.siteEmail" | translate }}</label>
                            <div class="email-inner-content">
                                <input matInput
                                    formControlName="siteEmail"
                                    class="settings-input"
                                    id="siteEmail">
                                <button
                                    style="position: relative;"
                                    role="button"
                                    (click)="saveGeneralSettingsData()"
                                    class="button transparent radius"
                                >
                                    <rap-svg-ico [src]="'assets/icons/save.svg'" class="edit-btn"></rap-svg-ico>
                                </button>
                            </div>
                        </div>
                        <div class="settings-input-content">
                            <label>{{ "settings.siteFacebook" | translate }}</label>
                            <div class="sort-products-container">
                                <input matInput
                                    formControlName="facebook"
                                    class="settings-input"
                                    id="facebook"
                                >
                                <button
                                    style="position: relative;"
                                    role="button"
                                    (click)="saveSiteFacebookData()"
                                    class="button transparent radius"
                                >
                                    <rap-svg-ico [src]="'assets/icons/save.svg'" class="edit-btn"></rap-svg-ico>
                                </button>
                            </div>
                        </div>
                        <div class="settings-input-content">
                            <label>{{ "settings.siteInstagram" | translate }}</label>
                            <div class="sort-products-container">
                                <input matInput
                                    formControlName="instagram"
                                    class="settings-input"
                                    id="instagram"
                                >
                                <button
                                    style="position: relative;"
                                    role="button"
                                    (click)="saveSiteInstagramData()"
                                    class="button transparent radius"
                                >
                                    <rap-svg-ico [src]="'assets/icons/save.svg'" class="edit-btn"></rap-svg-ico>
                                </button>
                            </div>
                        </div>
                        <div class="settings-input-content">
                            <label>{{ "settings.siteTelegram" | translate }}</label>
                            <div class="sort-products-container">
                                <input matInput
                                    formControlName="telegram"
                                    class="settings-input"
                                    id="telegram"
                                >
                                <button
                                    style="position: relative;"
                                    role="button"
                                    (click)="saveSiteTelegramData()"
                                    class="button transparent radius"
                                >
                                    <rap-svg-ico [src]="'assets/icons/save.svg'" class="edit-btn"></rap-svg-ico>
                                </button>
                            </div>
                        </div>
                        <div class="settings-input-content">
                            <label>{{ "settings.siteViber" | translate }}</label>
                            <div class="sort-products-container">
                                <input matInput
                                    formControlName="viber"
                                    class="settings-input"
                                    id="viber"
                                >
                                <button
                                    style="position: relative;"
                                    role="button"
                                    (click)="saveSiteViberData()"
                                    class="button transparent radius"
                                >
                                    <rap-svg-ico [src]="'assets/icons/save.svg'" class="edit-btn"></rap-svg-ico>
                                </button>
                            </div>
                        </div>
                        <div class="settings-input-content">
                            <label>{{ "settings.siteYoutube" | translate }}</label>
                            <div class="sort-products-container">
                                <input matInput
                                    formControlName="youtube"
                                    class="settings-input"
                                    id="youtube"
                                >
                                <button
                                    style="position: relative;"
                                    role="button"
                                    (click)="saveSiteYoutubeData()"
                                    class="button transparent radius"
                                >
                                    <rap-svg-ico [src]="'assets/icons/save.svg'" class="edit-btn"></rap-svg-ico>
                                </button>
                            </div>
                        </div>
                    </form>
                </rap-step-tab>
                <rap-step-tab [title]="'settings.settingsLocalization' | translate">
                    <form [formGroup]="siteSettingsLocalizationForm" (submit)="getSiteSettingsLocalizationForm()" class="phone-form-container">
                        <div class="settings-input-content sort-settings-content">
                            <label>{{ "settings.language" | translate }}</label>
                            <div class="sort-products-container">
                                <mat-form-field appearance="standart" class="sort-products">
                                    <div class="sort-products-wrapper sort-settings-content">
                                        <mat-select
                                            id="language"
                                            required
                                            formControlName="language"
                                            (selectionChange)="onChangeLocalizationLang($event)"
                                            [(ngModel)]="selectedDefaultLang"
                                            >
                                            <div>
                                                <mat-option *ngFor="let lang of siteLanguages" [value]="lang.title">
                                                    {{ lang?.title }}
                                                </mat-option>
                                            </div>
                                        </mat-select>
                                    </div>
                                </mat-form-field>
                                <button
                                    style="position: relative;"
                                    data-tooltip-left="Save"
                                    role="button"
                                    (click)="saveSiteDefaultLang()"
                                    class="button transparent radius"
                                >
                                    <rap-svg-ico [src]="'assets/icons/save.svg'" class="edit-btn"></rap-svg-ico>
                                </button>
                            </div>
                            <!-- <div>
                                <input matInput
                                    formControlName="language"
                                    class="settings-input"
                                    id="language">
                            </div> -->
                        </div>
                        <div class="settings-input-content sort-settings-content">
                            <label>{{ "settings.adminLanguage" | translate }}</label>
                            <div class="sort-products-container">
                                <mat-form-field appearance="standart" class="sort-products">
                                    <div class="sort-products-wrapper sort-settings-content">
                                        <mat-select
                                            id="adminLanguage"
                                            required
                                            formControlName="adminLanguage"
                                            (selectionChange)="onChangeLocalizationAdminLang($event)"
                                            [(ngModel)]="selectedDefaultAdminLang"
                                            >
                                            <div>
                                                <mat-option *ngFor="let adminLang of siteLanguages" [value]="adminLang.title">
                                                    {{ adminLang?.title }}
                                                </mat-option>
                                            </div>
                                        </mat-select>
                                    </div>
                                </mat-form-field>
                                <button
                                    style="position: relative;"
                                    data-tooltip-left="Save"
                                    role="button"
                                    (click)="saveSiteDefaultAdminLang()"
                                    class="button transparent radius"
                                >
                                    <rap-svg-ico [src]="'assets/icons/save.svg'" class="edit-btn"></rap-svg-ico>
                                </button>
                            </div>
                            <!-- <div>
                                <input matInput
                                    formControlName="adminLanguage"
                                    class="settings-input"
                                    id="adminLanguage">
                            </div> -->
                        </div>
                        <div class="settings-input-content sort-settings-content">
                            <label>{{ "settings.currency" | translate }}</label>
                            <div class="sort-products-container">
                                <mat-form-field appearance="standart" class="sort-products">
                                    <div class="sort-products-wrapper sort-settings-content">
                                        <mat-select
                                            id="currency"
                                            required
                                            formControlName="currency"
                                            (selectionChange)="onChangeLocalizationCurrency($event)"
                                            [(ngModel)]="selectedDefaultCurrency">
                                            <div>
                                                <mat-option *ngFor="let currency of siteCurrencies" [value]="currency.currency_title">
                                                    {{ currency?.currency_title }}
                                                </mat-option>
                                            </div>
                                        </mat-select>
                                    </div>
                                </mat-form-field>
                                <button
                                    style="position: relative;"
                                    data-tooltip-left="Save"
                                    role="button"
                                    (click)="saveSiteCurrency()"
                                    class="button transparent radius"
                                >
                                    <rap-svg-ico [src]="'assets/icons/save.svg'" class="edit-btn"></rap-svg-ico>
                                </button>
                            </div>
                            <!-- <div>
                                <input matInput
                                    formControlName="currency"
                                    class="settings-input"
                                    id="currency">
                            </div> -->
                        </div>
                        <div class="settings-input-content sort-settings-content">
                            <label>{{ "settings.unitsOfMeasurement" | translate }}</label>
                            <div class="sort-products-container">
                                <mat-form-field appearance="standart" class="sort-products">
                                    <div class="sort-products-wrapper sort-settings-content">
                                        <mat-select
                                            id="unitsOfMeasurement"
                                            required
                                            formControlName="unitsOfMeasurement"
                                            (selectionChange)="onChangeLocalizationLength($event)"
                                            [(ngModel)]="selectedLength">
                                            <div *ngFor="let lengthUnit of allLength">
                                                <mat-option [value]="lengthUnit?.title">
                                                    {{ lengthUnit?.title }}
                                                </mat-option>
                                            </div>
                                        </mat-select>
                                    </div>
                                </mat-form-field>
                                <button
                                    style="position: relative;"
                                    data-tooltip-left="Save"
                                    role="button"
                                    (click)="saveSiteunitsOfMeasurement()"
                                    class="button transparent radius"
                                >
                                    <rap-svg-ico [src]="'assets/icons/save.svg'" class="edit-btn"></rap-svg-ico>
                                </button>
                            </div>
                            <!-- <div>
                                <input matInput
                                    formControlName="unitsOfMeasurement"
                                    class="settings-input"
                                    id="unitsOfMeasurement">
                            </div> -->
                        </div>
                        <div class="settings-input-content sort-settings-content">
                            <label>{{ "settings.weight" | translate }}</label>
                            <div class="sort-products-container">
                                <mat-form-field appearance="standart" class="sort-products">
                                    <div class="sort-products-wrapper sort-settings-content">
                                        <mat-select
                                            id="weight"
                                            required
                                            formControlName="weight"
                                            (selectionChange)="onChangeLocalizationWeight($event)"
                                            [(ngModel)]="selectedWeight">
                                            <div *ngFor="let weightUnit of siteWeightDesc">
                                                <mat-option [value]="weightUnit?.description?.title">
                                                    {{ weightUnit?.description?.title }}
                                                </mat-option>
                                            </div>
                                        </mat-select>
                                    </div>
                                </mat-form-field>
                                <button
                                    style="position: relative;"
                                    data-tooltip-left="Save"
                                    role="button"
                                    (click)="saveSiteWeight()"
                                    class="button transparent radius"
                                >
                                    <rap-svg-ico [src]="'assets/icons/save.svg'" class="edit-btn"></rap-svg-ico>
                                </button>
                            </div>
                            <!-- <div>
                                <input matInput
                                    formControlName="weight"
                                    class="settings-input"
                                    id="weight">
                            </div> -->
                        </div>
                    </form>
                </rap-step-tab>
            </rap-step-tabs>
        </div>
    </div>
</div>
