<div class="ratio icon">
  <div class="square">
    <img class="contain" [src]="icon" [alt]="file?.name" />
  </div>
</div>

<header (dblclick)="turnEditMode()">
  <form (submit)="onEdit($event)">
    <input
      #input
      [disabled]="!editMode"
      [readonly]="!editMode"
      class="folder-input"
      type="text"
      name="name"
      [(ngModel)]="file.name"
    />
  </form>
</header>

<div *ngIf="mode == ViewMode.item">{{ file.size | filesize }}</div>
<div *ngIf="mode == ViewMode.item">{{ file?.created_at }}</div>

<div *ngIf="mode == ViewMode.item">{{ file?.updated_at }}</div>

<div *ngIf="!editable"></div>
<button
  *ngIf="mode == ViewMode.item && editable"
  style="position: relative;"
  data-tooltip-left="Rename"
  role="button"
  (click)="turnEditMode()"
  class="button transparent radius edit-btn"
>
  <rap-svg-ico [src]="'assets/icons/edit.svg'"></rap-svg-ico>
</button>

<rap-delete-button
  data-tooltip-left="Delete"
  class="button transparent radius"
  (confirmed)="onDelete()"
  [src]="'assets/icons/delete.svg'"
></rap-delete-button>
