.currencies-content {
    font-size: 14px;
} 

.type-of-registration {
   font-size: 13px;
}

.form {
    width: 480px !important;
}

.currency-form-style {
    width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.currencies-edit__img {
    width: 16px;
}

.currencies-content-default {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
