@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  display: block;
  flex: 1;
}

rap-folder {
  margin: $space/4;
}

.emoji {
  padding: $space/4;
  min-width: unset;
  text-align: center;
}

.form-row {
  flex-direction: column;
  .description {
    padding: 0;
    justify-content: flex-start;
    margin-top: 8px;
    margin-bottom: 10px;
    @include col-width(100%);
  }
}

header {
  border-bottom: 1px dashed $gray400;
  margin-bottom: $space/2;
  h4 {
    margin-bottom: $space/2;
  }
}

.upload-image {
  position: relative;
  width: 128px;
  .ratio {
    width: 100%;
    position: relative;
  }
  small {
    word-wrap: break-word;
  }
  .error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4px;
    text-align: center;
    color: white;
    background-color: rgba($red, .64);
    backdrop-filter: blur(5px);
    z-index: 1;
    word-wrap: normal;
    font-size: $fontSizeSmall;
  }
  rap-circle-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    z-index: 1;
  }
  rap-delete-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    min-width: unset;
    padding: 4px;
    // color: rgba($red, .8);
    // &:hover {
    //   color: $red;
    // }
  }
}
