<div class="modal" *ngIf="modalOpen">
  <div class="modal-wrapper">
    <div class="modal-close" (click)="modalOpen = false"></div>
    <div class="modal-content">
      <header>
        <h4>{{ "APP.selectImage" | translate }}</h4>
      </header>

      <div class="content">
        <app-gallery-view
          [selectable]="true"
          [singleSelectable]="true"
          [editable]="false"
        ></app-gallery-view>
      </div>
    </div>
  </div>
</div>

<rap-step-tabs>
  <rap-step-tab
    *ngFor="let item of model.descriptions"
    [imgSrc]="languageService.getFromList(item.lang.id)?.flag"
    [title]="item.lang.short_title"
  >

    <div class="form-row">
      <div class="description desc-content">
        <!-- <label for="">{{ item.lang.flag }} NAME</label> -->
        <label for="" class="flag-container">
          <span class="flag-text">{{ "APP.title" | translate }}</span>
          <img class="flag flag-item" src="{{ languageService.getFromList(item.lang.id)?.flag }}"/>
        </label>
      </div>

      <div class="original">
        <input class="radius" [(ngModel)]="item.name" type="text" />
      </div>
    </div>

    <div class="form-row">
      <div class="description desc-content">
        <label for="" class="flag-container">
          <!-- {{ item.lang.flag }} -->
          <span class="flag-text">{{ "category.description" | translate }}</span>
          <img class="flag flag-item" src="{{ languageService.getFromList(item.lang.id)?.flag }}"/>
        </label>
      </div>

      <div class="original editor-content editor-content-product">
        <div class="upload-img-editor-content">
          <button 
            (click)="uploadImgToEditor(item, $event)"
            class="upload-img-editor-btn"
          >
            {{ 'APP.uploadImage' | translate }}
          </button>
        </div>
        <angular-editor [placeholder]="'...'" [(ngModel)]="item.discription" [config]="editorConfig"
        >
        </angular-editor>
      </div>
    </div>

    <div class="form-row">
      <div class="description desc-content">
        <label for="" class="flag-container">
          <!-- {{ item.lang.flag }}  -->
          <span class="flag-text">{{ "APP.metaDescription" | translate }}</span>
          <img class="flag flag-item" src="{{ languageService.getFromList(item.lang.id)?.flag }}"/>
        </label>
      </div>

      <div class="original">
        <textarea
          name=""
          class="radius"
          [(ngModel)]="item.meta_discription"
          rows="2"
        ></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="description desc-content">
        <label for="" class="flag-container">
          <!-- {{ item.lang.flag }} -->
          <span class="flag-text">{{ "APP.metaKeywords" | translate }}</span>
          <img class="flag flag-item" src="{{ languageService.getFromList(item.lang.id)?.flag }}"/>
        </label>
      </div>

      <div class="original">
        <textarea
          name=""
          class="radius"
          [(ngModel)]="item.meta_keywords"
          rows="2"
        ></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="description desc-content">
        <label for="" class="flag-container">
          <!-- {{ item.lang.flag }} -->
          <span class="flag-text">{{ "APP.tag" | translate }}</span>
          <img class="flag flag-item" src="{{ languageService.getFromList(item.lang.id)?.flag }}"/>
        </label>
      </div>

      <div class="original">
        <input class="radius" [(ngModel)]="item.tag" type="text" />
      </div>
    </div>
  </rap-step-tab>
</rap-step-tabs>
