<rap-step-tabs>
  <rap-step-tab
    *ngFor="let item of model.descriptions"
    [imgSrc]="languageService.getFromList(item.lang.id)?.flag"
    [title]="item.lang.short_title"
  >
    <div class="form-row">
      <div class="description">
        <!-- <label for="">{{ item.lang.flag }} NAME</label> -->
        <label for="">
          <img class="flag" src="{{ languageService.getFromList(item.lang.id)?.flag }}"/>
          {{ "APP.title" | translate }}
        </label>
      </div>

      <div class="original">
        <input class="radius" [(ngModel)]="item.name" type="text" />
      </div>
    </div>

    <div class="form-row">
      <div class="description">
        <label for="">
          <!-- {{ item.lang.flag }} -->
          <img class="flag" src="{{ languageService.getFromList(item.lang.id)?.flag }}"/>
          {{ "category.description" | translate }}
        </label>
      </div>

      <div class="original">
        <angular-editor [placeholder]="'...'" [(ngModel)]="item.discription" [config]="editorConfig"></angular-editor>
        <!-- <textarea
          name=""
          class="radius"
          [(ngModel)]="item.discription"
          rows="2"
        ></textarea> -->
      </div>
    </div>

    <div class="form-row">
      <div class="description">
        <label for="">
          <!-- {{ item.lang.flag }}  -->
          <img class="flag" src="{{ languageService.getFromList(item.lang.id)?.flag }}"/>
          {{ "APP.metaDescription" | translate }}
        </label>
      </div>

      <div class="original">
        <textarea
          name=""
          class="radius"
          [(ngModel)]="item.meta_discription"
          rows="2"
        ></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="description">
        <label for="">
          <!-- {{ item.lang.flag }} -->
          <img class="flag" src="{{ languageService.getFromList(item.lang.id)?.flag }}"/>
          {{ "APP.metaKeywords" | translate }}
        </label>
      </div>

      <div class="original">
        <textarea
          name=""
          class="radius"
          [(ngModel)]="item.meta_keywords"
          rows="2"
        ></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="description">
        <label for="">
          <!-- {{ item.lang.flag }} -->
          <img class="flag" src="{{ languageService.getFromList(item.lang.id)?.flag }}"/>
          {{ "APP.tag" | translate }}
        </label>
      </div>

      <div class="original">
        <input class="radius" [(ngModel)]="item.tag" type="text" />
      </div>
    </div>
  </rap-step-tab>
</rap-step-tabs>
