@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  display: block;
  flex: 1;
}

.button {
  padding: $space/2;
  min-width: unset;
  rap-svg-ico {
    width: 16px;
    height: auto;
    display: block;
    color: $gray500;
  }
  &:hover {
    rap-svg-ico {
      color: $blue;
    }
  }
}

rap-delete-button.button.transparent {
  color: $gray500;
  &:hover {
    color: $red;
  }
  &.on {
    color: $green;
    // background-color: rgba($green, .1);
  }
  &.off {
    color: $red;
    // background-color: rgba($red, .1);
  }
}

.title {
  display: block;
  padding: 2px 10px;
  border-right: 1px dashed $gray600;
  &:last-child {
    border-right: unset;
  }
  .flag {
    font-size: $fontSizeH5;
  }
}
