<div class="review-dialog">
    <div class="dialog-header">
        <span class="material-icons close-icon" (click)="onNoClick()">close</span>
    </div>
    <hr>
    <div class="dialog-wrapper">
        <div *ngIf="!isResetBtnContentClicked" class="lost-accaunt-title">{{ 'APP.lostPassword' | translate }}</div>
        <form [formGroup]="authForm" class="login">
            <div *ngIf="!isResetBtnContentClicked">
              <div class="login__input-container">
                <div class="description">
                  <label for="ShowUEmail">{{ 'APP.accauntEmail' | translate }} </label>
                </div>
                <div class="original">
                  <input
                    formControlName="email"
                    required
                    class=""
                    id="ShowUEmail"
                    name="email"
                    type="email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  />
                </div>
              </div>
              <div class="singing-container">
                <div class="flex space-between singing-container__sing-in-btn">
                  <button
                    [disabled]="!authForm.valid"
                    class="button delete  large"
                    type="submit"
                    (click)="successResetPassword()"
                  >
                    {{ 'APP.restore' | translate }}
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="isResetBtnClicked && !isInvalidLoginOrPass" class="reset-success-content">
              <div class="success-message">
                <img class="success-message-icon" src="assets/icons/tick.svg"/>
                <div class="success-message-text">{{ 'APP.resetEmailPassword' | translate }}</div>
              </div>
              <div class="success-details">
                {{ 'APP.successRestoreMessage' | translate }}
              </div>
            </div>
            <div *ngIf="isInvalidLoginOrPass">
                <div class="reset-error-content">
                  <div class="error-message">
                    <img class="error-message-icon" src="assets/icons/mistake-red.svg"/>
                    <div class="error-message-text">{{ 'APP.invalidEmailAddress' | translate }}</div>
                  </div>
                </div>
            </div>
        </form>
    </div>
</div>
