.review-dialog {
    width: 48vw;
}

.dialog-wrapper {
    position: relative;
}

.dialog-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 500px;
}

.close-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 999999;
    margin-top: -15px;
}

hr {
    border-top: 1px solid #000;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: 15px;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-left-content,
.product-right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-left-content {
    font-size: 14px;
    color: #3D67C9;
}

.product-photo__img {
    width: 75px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.leave-review-btn {
    border: none;
    padding: 10px 36px;
    outline: none;
    border-radius: 3px;
}

.cursor-pointer {
    cursor: pointer;
}

.login {
    //border-top:1px solid silver ;
    .login__input-container {
      margin-top: 10px;
  
      .description {
        //padding: 36px 0 10px;
        padding: 4px 0 10px;
        
        label {
          font-size: 15px;
          font-weight: 500;
          
          &::after {
            content: "*";
            color: red;
          }
        }
      }
      .original{
        input{
          //height: 50px;
          height: 42px;
          max-width: 40vw;
          border-radius: 3px;
        }
      }
    }
  }
  .singing-container{
    max-width: 40.3vw;
    //padding-top: 48px;
    padding-top: 29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    .form-row{
      .original{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
  
  
        a{
  
          text-align: end;
          padding: 0 5px;
        }
      }
    }
    .register-container{
      align-items: center;
      flex-direction: column;
    }
    .singing-container__sing-in-btn{
      button{
        width: 160px;
        border-radius: 3px;
      }
      .singing-container__sing-in-btn__remember{
        padding-left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        input{
          width: 30px;
          height: 30px;
        }
        p{
          padding-top: 20px;
        }
      }
    }
  }
  
  .button.large {
    padding: 11px 6px !important;
  }
  
  .form-row {
    margin-bottom: 0 !important;
  }
  
  .reset-success-content {
    display: flex;
    flex-direction: column;
  }
  
  .success-message {
    width: 100%;
    height: 50px;
    background-color: #f3fdf0;
    border: 1px solid #a4c7ac;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .success-message-icon {
    max-width: 23px;
    margin-left: 18px;
  }
  
  .success-message-text {
    margin-left: 13px;
    font-size: 14px;
  }
  
  .success-details {
    margin-top: 25px;
    font-size: 12px;
  }

  .lost-accaunt-title {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    margin-top: 21px;
  }

  button {
      &:disabled {
        pointer-events: none;
        filter: grayscale(1);
        cursor: not-allowed !important;
      }
  }
  