<header (click)="toggle()" [ngClass]="{ active: open }">
    <div class="ratio icon">
      <div class="square">
     
          <rap-svg-ico class="contain" src="{{ icon }}" alt="{{ title | titlecase | slice: 0:1 }}"></rap-svg-ico>
       
      </div>
    </div>

    <div class="title" *ngIf="!burderStatus" >{{ title | translate }}</div>
    <div class="status" *ngIf="title!='showupage'">
      <rap-svg-ico *ngIf="!burderStatus" src="assets/icons/plus.svg"></rap-svg-ico>
    </div>

  
</header>

<section @fade2 *ngIf="open && !burderStatus"  [@smallbar]='myAnimatiom' [ngClass]="{ active: open }">
  <ng-content  ></ng-content>
</section>
