<fieldset class="radius" style="margin-bottom: 16px;">
    <div class=" form-row settings-input-content sort-settings-content">
        <div class="description">
            <label for="">{{ "option.option" | translate }}</label>
        </div>

        <div class="sort-products-container">
            <mat-form-field appearance="standart" class="sort-products">
                <div class="sort-products-wrapper">
                    <mat-select id="size"
                                [(ngModel)]="optionSelect">
                        <div *ngFor="let item of arrOptions">
                            <mat-option [value]="item.id">{{item.description[0].name}}</mat-option>
                        </div>
                    </mat-select>
                </div>
            </mat-form-field>
        </div>
        <div class="flex center">
            <button
                    (click)="saveProductOption(optionSelect)"
                    style="position: relative; color: black"
                    data-tooltip-left="Save"
                    role="button"
                    class="button transparent radius"
            >
                <rap-svg-ico class="black" [src]="'assets/icons/plus.svg'"></rap-svg-ico>
            </button>
        </div>`
    </div>
</fieldset>

<rap-step-tabs >
<!--    "'option.option' | translate"-->
    <rap-step-tab *ngFor="let item of arrOptionTabs"   [active]="item == 1" [title]="item.options.description.name">
        <fieldset class="radius"  style="margin-bottom: 16px;">
            <legend>{{item.options.description.name}}</legend>
<!--            [optionSelect]="optionSelect"-->
            <app-product-option-value
                    [product]="model"
                    [optionValue]="item"
                    (productOptionId)="getProductOption()"
            >
            </app-product-option-value>
        </fieldset>
    </rap-step-tab>
</rap-step-tabs>

