@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

.button {
  padding: $space/2;
  min-width: unset;
  rap-svg-ico {
    width: 16px;
    height: auto;
    display: block;
    color: $gray500;
  }
  &:hover {
    rap-svg-ico {
      color: $blue;
    }
  }
}

rap-delete-button.button.transparent {
  color: $gray500;
  &:hover {
    color: $red;
  }
}

.flag-attr-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flag-attr {
  margin-right: 0 !important;;
}