@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  position: relative;
  display: block;
}

.modal {
  position: fixed;
  @include zero;
  z-index: 10000;

  background-color: rgba($black, 0.48);

  .modal-wrapper {
    position: absolute;
    @include zero;
    overflow-y: auto;
    .modal-close {
      background-color: rgba($black, 0.5);
      cursor: pointer;
      position: absolute;
      @include zero;
      @include transition();
      &:hover {
        background-color: rgba($black, 0);
      }
    }

    .modal-content {
      flex: 1;
      background-color: rgba($white, 1);
      // min-height: 100vh;
      width: 100%;
      max-width: 800px;
      margin-left: 15%;
      header {
        position: sticky;
        top: 0;

        background-color: rgba($white, .8);
        padding: $space/2 $space;
        h4 {
          margin: 0;
        }
      }
      .content {
        padding: $space;
      }
    }
  }
}

.editor-content-category ::ng-deep {
  .angular-editor-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 10px 37px 9px !important;
  }

  .angular-editor-toolbar-set {
    margin-bottom: 5px;
  }
}

.editor-content {
  position: relative;
}

.upload-img-editor-content {
  background-color: #f5f5f5;
  position: absolute;
  left: 10px;
  top: 151px;
  z-index: 3;
}

.upload-img-editor-btn {
  background-color: #fff;
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 0.4rem 0.6rem;
  min-width: 2rem;
  float: left;
  margin: 5px auto 5px;
  outline: none;
  cursor: pointer;
}
