@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

rap-folder {
  width: auto;
  margin: 0;
}

.grid {
  margin-bottom: $space * 2;
  display: grid;
  grid-gap: $space/2;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  &.list {
    display: block;
  }
}

header {
  h6 {
    padding-top: 0;
    margin: 0 0 $space;
    font-weight: 600;
    color: $gray800;
  }
}

rap-album-breadcrumbs {
  margin: $space/2 0 $space;
}

::ng-deep {
  .mat-paginator {
    flex-direction: row;
   
    .mat-paginator-outer-container {
      flex-direction: row;
      .mat-paginator-container {
        flex-direction: row;
        // border: solid silver 1px;
        box-shadow: 2px 4px 16px -1px rgba(97,97,97,0.45);
          .mat-paginator-page-size {
            flex-direction: row;
              mat-form-field {
              .mat-form-field-wrapper {
                .mat-form-field-infix {
                  width: 75px;
                }
              }
            }
          }
          .mat-paginator-range-actions {
            flex-direction: row;
          }
      }
    }
  }
}
