<h2 class="text-center" *ngIf="title">{{ title }}</h2>

<fieldset class="radius" style="margin-bottom: 16px;">
  <legend>{{ "APP.base" | translate }}</legend>

  <div class="form-row">
    <div class="description">
      <label for="">{{ "APP.group" | translate }}</label>
    </div>

    <div class="original">
      <select class="radius" name="parent_id" [(ngModel)]="model.group_id">
        <!-- <option value="null">root</option> -->
        <option *ngFor="let c of groups" value="{{ c.id }}">{{
          c.description[0].name
        }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="description">
      <label for="">{{ "APP.show" | translate }}</label>
    </div>

    <div class="original">
      <select class="radius" name="parent_id" [(ngModel)]="model.status">
        <option value="1">{{ "APP.show" | translate }}</option>
        <option value="0">{{ "APP.hide" | translate }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="description">
      <label for="">{{ "APP.sort_order" | translate }}</label>
    </div>
    <div class="original">
      <input class="radius" type="text" [(ngModel)]="model.sort_order" />
    </div>
  </div>
</fieldset>

<fieldset
  *ngFor="let item of model.description"
  class="radius"
  style="margin-bottom: 16px;"
>
  <legend class="flag-container">
    <!-- {{ item.lang.flag }}  -->
    <img class="flag" src="{{ languageService.getFromList(item.lang.id)?.flag }}"/>
    {{ item.lang.short_title }}
  </legend>

  <div class="form-row">
    <div class="description">
      <label for="">{{"category.title" | translate}}</label>
    </div>
    <div class="original">
      <input class="radius" [(ngModel)]="item.name" type="text" />
    </div>
  </div>
</fieldset>
