.settings-edit__img {
    width: 16px;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.padding__top-bottom_10 {
    padding-top: 10px;
    padding-bottom: 10px;
}