<div class="reviews-form-container">
    <div class="reviews-form-title">
        <div class="tabs-header">{{ 'sizeGroups.addEditSizeGroups' | translate }}</div>
    </div>
    <hr class="size-group-hr">
    <div class="reviews-content__main">
        <form [formGroup]="orderForm">
            <div class="reviews-date">
                <div class="reviews-date-title">{{ 'sizeGroups.sizeGroupsOrder' | translate }}</div>
                <input formControlName="order" type="text" class="reviews-date-text"/>
            </div>
        </form>
        <rap-step-tabs>
            <rap-step-tab
                *ngFor="let item of sizeGroup?.descriptions"
                [imgSrc]="langService.getFromList(item?.lang_id)?.flag"
                [title]="item.short_title"
            >
                <div class="reviews-date">
                    <div class="reviews-date-title">
                        <label for="">{{ "sizeGroups.sizeGroupsName" | translate }}</label>
                    </div>
                    <input
                        class="reviews-date-text" 
                        [(ngModel)]="item.name"
                        type="text" 
                    />
                </div>
                <div class="list-size-params">
                    <div class="reviews-date-title list-size-params-title">
                        {{ "sizeGroups.sizeGroupsParamsList" | translate }}
                    </div>
    
                    <div class="products-name-container">
                        <div *ngFor="let product of sizeGroupParams; let currentIndex = index;">
                            <div class="product-name">
                            {{ product?.description?.name }}
                            <!-- <span (click)="removeProduct(currentIndex)" class="material-icons">cancel</span> -->
                            </div>
                        </div>
                        <!-- <app-size-groups-form-select
                            class="size-groups-form-select-container"
                            [sizeGroupParams]="sizeGroupParams">
                        </app-size-groups-form-select> -->
                    </div>
                    <!-- <button (click)="sendDataForUpdate()">SAVE</button> -->
                </div>
            </rap-step-tab>
        </rap-step-tabs>
    </div>
</div>
