<div class="reviews-form-container">
    <div class="reviews-form-title">
        <div>{{ 'sizeGroups.addEditSizeGroups' | translate }}</div>
    </div>
    <hr class="size-group-hr">
    <div class="reviews-content__main">
        <form [formGroup]="orderForm">
            <div class="reviews-date">
                <div class="reviews-date-title">{{ 'sizeGroups.sizeGroupsOrder' | translate }}</div>
                <input formControlName="order" type="text" class="reviews-date-text"/>
            </div>
        </form>
        <rap-step-tabs>
            <rap-step-tab
              *ngFor="let item of sizeGroup?.descriptions"
              [imgSrc]="langService.getFromList(item?.lang_id)?.flag"
              [title]="item.short_title"
            >
              <div class="reviews-date">
                <div class="reviews-date-title">
                  <label for="">{{ "sizeGroups.sizeGroupsName" | translate }}</label>
                </div>
                <input class="reviews-date-text" [(ngModel)]="item.name" type="text" />
              </div>
        
              <div class="list-size-params">
                <div class="reviews-date-title list-size-params-title">
                    {{ "sizeGroups.sizeGroupsParamsList" | translate }}
                </div>
        
                <div class="original">
                    <textarea
                        name=""
                        class="radius size-group-textarea"
                        rows="2"
                    >
                    </textarea>
                </div>
              </div>
            </rap-step-tab>
          </rap-step-tabs>
    </div>
</div>
