<div class="pagination" *ngIf="total > 1">
  <button
    class="button small previous"
    (click)="onPrev()"
    [disabled]="page === 1 || loading"
  >
    <svg style="transform: rotate(180deg);" viewBox="0 0 306 306" xmlns="http://www.w3.org/2000/svg">
      <polygon
        points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"
      ></polygon>
    </svg>
  </button>
  <button
    class="button small"
    *ngFor="let pageNum of pageList()"
    [disabled]="page === pageNum || loading"
    (click)="onPage(pageNum)"
  >
    {{ pageNum }}
  </button>
  <button
    class="button small"
    (click)="onNext()"
    [disabled]="page === total || loading"
  >
    <svg viewBox="0 0 306 306" xmlns="http://www.w3.org/2000/svg">
      <polygon
        points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"
      ></polygon>
    </svg>
  </button>
</div>
