<div class="form-row">
  <div class="description">
    <label [attr.data-tooltip-top]="'Stock Keeping Unit'" for="">SKU</label>
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.sku" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label [attr.data-tooltip-top]="'Universal Product Code'" for="">UPC</label>
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.upc" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label [attr.data-tooltip-top]="'European Article Number'" for=""
      >EAN</label
    >
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.ean" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label [attr.data-tooltip-top]="'Japanese Article Number'" for=""
      >JAN</label
    >
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.jan" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label [attr.data-tooltip-top]="'International Standard Book Number'" for=""
      >ISBN</label
    >
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.isbn" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label [attr.data-tooltip-top]="'Manufacturer Part Number'" for=""
      >MPN</label
    >
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.mpn" />
  </div>
</div>
