.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .original {
    width: 360px;
    max-width: 360px;
    input{
      width: 100%;
    }
  }
  .description {
    max-width: 150px;
    width: 150px;
    text-align: start;
    label{
      max-width: 150px;
      width: 150px;
    }
  }
}
.orders-select {
  width: 100%;
  border: 0.5px solid black;
  border-radius: 3px;

  padding-left: 8px;
  height: 31px !important;
  margin-left: 10px;
  margin-right: 10px;
}

.form-row,.flag-tabs{
  padding-top: 20px;
}

.tabs-header{
  text-align: center;
  margin-bottom: 35px;
  margin-top: 24px;
  font-size: 22px;
  font-weight: 400;
}

.sort-products-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin-top: -13px;

}
.sort-products-container {
  width: 70% !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.sort-settings-content ::ng-deep {
  .mat-form-field {
    width: 100%;
    .mat-form-field-wrapper {
      border: solid black 1px;
      border-radius: 3px;
      padding-bottom: 0;
      .mat-form-field-flex {
        .mat-form-field-infix {
          width: 100%;
          .mat-select {

            margin-right: 5px;
            margin-left: 15px;
            margin-top: -4px;
            .mat-select-trigger {
              padding-top: 5px;
              .mat-select-value-text {
                font-size: 13px;
              }
              .mat-select-arrow-wrapper {
                .mat-select-arrow {
                  box-sizing: border-box;
                  height: 10px;
                  width: 10px;
                  border-style: solid;
                  border-color: #000;
                  border-width: 0px 1px 1px 0px;
                  transform: rotate(45deg);
                  transition: border-width 150ms ease-in-out;
                  //margin-top: -6px;
                  margin-top: -4px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.plus-icon{
  width: 17px;
  color: darkgray;
}
.sizes-block{
  width: 100%;
  padding:20px 15px 25px ;
  hr{
    margin: 7px 0;
  }
  .size-table{
    .size-top{
      font-size: 13px;
      padding-bottom: 12px;
      font-weight: 400;
      td{
        text-align: center;
      }
      .size-top-first{
        text-align: start;
        font-weight: 500
      }
    }
    .sizes-items{
      font-size: 13px;
      .item{
        font-weight: 400;
        text-align: center;
      }
      .item-first{
        font-weight: 400;
        text-align: start;
      }
    }
  }
}
