<div class="tabs-header">{{ "MENU.localization.add_edit_localization" | translate }}</div>
<fieldset class="radius" style="margin-bottom: 16px;">
    <div class=" form-row settings-input-content sort-settings-content">
        <div class="description">
            <label for="sizeGroup">{{ "sizeGroups.groupSize" | translate }}</label>
        </div>
        <div class="sort-products-container">
            <mat-form-field appearance="standart" class="sort-products">
                <div class="sort-products-wrapper">
                    <mat-select id="sizeGroup" [(ngModel)]="groupId" (selectionChange)="selectGroup(groupId)" >
                        <div *ngFor="let sizeGroup of arrSizeGroup" >
                            <mat-option [value]="sizeGroup.id">{{sizeGroup?.description?.name}}</mat-option>
                        </div>
                    </mat-select>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class=" form-row settings-input-content sort-settings-content" *ngIf="arrSize"  >
        <div class="description">
            <label for="size">{{ "size.sizes" | translate }}</label>
        </div>
        <div class="sort-products-container">
            <mat-form-field appearance="standart" class="sort-products">
                <div class="sort-products-wrapper">
                    <mat-select id="size"  [(ngModel)]="sizeId"  >
                        <div *ngFor="let size of arrSize">
                            <mat-option [value]="size.id">{{size?.description?.name}}</mat-option>
                        </div>
                    </mat-select>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class=" form-row settings-input-content sort-settings-content" *ngIf="arrSizeParams" >
        <div class="description">
            <label for="sizeparametr"> {{ "sizeParams.params" | translate }}</label>
        </div>
        <div class="sort-products-container">
            <mat-form-field appearance="standart" class="sort-products">
                <div class="sort-products-wrapper">
                    <mat-select id="sizeparametr"  [(ngModel)]="paramId" >
                        <div *ngFor="let sizeParams of arrSizeParams">
                            <mat-option [value]="sizeParams.id">{{sizeParams?.description?.name}}</mat-option>
                        </div>
                    </mat-select>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="form-row" *ngIf="groupId">
        <div class="description">
            <label for="">{{"APP.values" | translate }}(Min)</label>
        </div>
        <div class="original">
            <input class="radius" [(ngModel)]="min" type="text" />
        </div>
    </div>
    <div class="form-row" *ngIf="groupId">
        <div class="description">
            <label for="">{{"APP.values" | translate }}(Max)</label>
        </div>
        <div class="original">
            <input class="radius"  [(ngModel)]="max" type="text" />
        </div>
    </div>
    <div class="flex center" *ngIf="groupId">
        <button
                (click)="createNewSizeItem()"
                style="position: relative; color: black"
                data-tooltip-left="Save"
                role="button"
                class="button transparent radius" >
            <rap-svg-ico class="black plus-icon" [src]="'assets/icons/plus.svg'"></rap-svg-ico>
        </button>
    </div>

    <div class="sizes-block" *ngIf="groupId" >
        <div class="sizes-name">{{allTable?.description?.name}}</div>
        <hr>
        <table class="size-table">
            <tr class="size-top" >
                <td class="size-top-first">{{ "size.sizes" | translate }}/{{ "sizeParams.params" | translate }}</td>
                <td *ngFor="let size of arrTableParams">{{size.description.name}}</td>
            </tr>
            <ng-container *ngIf="arrSizesValue">
            <tr class="sizes-items" *ngFor="let size of arrSizesValue of let i = index">
                <td class="item-first"> {{arrTableSizes[i]?.description?.name}} </td>
                <td class="item" *ngFor="let item of size">{{item!==null? item.min_value*1:''}}-{{item!==null? item.max_value*1:''}}</td>
            </tr>
            </ng-container>
        </table>
    </div>
</fieldset>

