<div class="tabs-header">{{ "MENU.localization.add_edit_localization" | translate }}</div>

<fieldset class="radius" style="margin-bottom: 16px;">
    <div class=" form-row settings-input-content sort-settings-content">
        <div class="description">
            <label for="sizeGroup">{{ "sizeGroups.groupSize" | translate }}</label>
        </div>
        <div class="sort-products-container">
            <mat-form-field appearance="standart" class="sort-products">
                <div class="sort-products-wrapper">
<!--                    [(value)]="selected.group_id"-->
<!--                    (selectionChange)="selectGroup(selected.group_id)"-->
                    <mat-select id="sizeGroup" >
                        <div *ngFor="let sizeGroup of arrSizeGroup">
                            <mat-option [value]="sizeGroup.id">{{sizeGroup?.descriptions[0]?.name}}</mat-option>
                        </div>
                    </mat-select>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class=" form-row settings-input-content sort-settings-content">
        <div class="description">
            <label for="size">{{ "size.sizes" | translate }}</label>
        </div>
        <div class="sort-products-container">
            <mat-form-field appearance="standart" class="sort-products">
                <div class="sort-products-wrapper">
                    <!--                    [(value)]="selected.group_id"-->
                    <!--                    (selectionChange)="selectGroup(selected.group_id)"-->
                    <mat-select id="size"
                    >
                        <div *ngFor="let size of arrSize">
                            <mat-option [value]="size.id">{{size?.descriptions[0]?.name}}</mat-option>
                        </div>
                    </mat-select>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class=" form-row settings-input-content sort-settings-content">
        <div class="description">
<!--            {{ "sizeGroups.groupSize" | translate }}-->
            <label for="sizeparametr">Параметр</label>
        </div>
        <div class="sort-products-container">
            <mat-form-field appearance="standart" class="sort-products">
                <div class="sort-products-wrapper">
                    <!--                    [(value)]="selected.group_id"-->
                    <!--                    (selectionChange)="selectGroup(selected.group_id)"-->
                    <mat-select id="sizeparametr"
                    >
                        <div *ngFor="let sizeParams of arrSizeParams">
                            <mat-option [value]="sizeParams.id">{{sizeParams?.descriptions[0]?.name}}</mat-option>
                        </div>
                    </mat-select>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="form-row">
        <div class="description">
            <label for="">Min</label>
        </div>
<!--        [(ngModel)]="item.name"-->
        <div class="original">
            <input class="radius" type="text" />
        </div>
    </div>
    <div class="form-row">
        <div class="description">
            <label for="">Max</label>
        </div>
<!--        [(ngModel)]="item.name"-->
        <div class="original">
            <input class="radius"  type="text" />
        </div>
    </div>
    <div class="flex center">
        <button
                style="position: relative; color: black"
                data-tooltip-left="Save"
                role="button"
                class="button transparent radius"
        >
            <rap-svg-ico class="black plus-icon" [src]="'assets/icons/plus.svg'"></rap-svg-ico>
        </button>
    </div>

    <div class="sizes-block" >
        <div class="sizes-name">Closes</div>
        <hr>
        <table class="size-table">
            <tr class="size-top" >
                <td class="size-top-first">Розмір/Параметер</td>
                <td *ngFor="let size of arrTableParams">Обєм грудей</td>
            </tr>
            <tr class="sizes-items" *ngFor="let size of arrSizesValue of let i = index">
                <td class="item-first" >{{arrTableSizes[i].description.name}} </td>
                <td class="item" *ngFor="let item of size">{{item!==null? item.min_value:''}}</td>
            </tr>
        </table>
    </div>
    <!--                <button style="position: relative; color: black"-->
    <!--                        data-tooltip-left="Delete"-->
    <!--                        role="button"-->
    <!--                        class="button transparent radius">-->
    <!--                    <rap-svg-ico class="black plus-icon" [src]="'assets/icons/delete.svg'"></rap-svg-ico>-->
    <!--                </button>-->
</fieldset>

