//
// alert
//
.raisins-alert-container {
  width: 400px;
  top: 24px;
  left: 24px;
  position: fixed;
  z-index: 2999999999;
  //   border: 1px solid;
}
.alert {
  $alpha: 0.92;

  .wrap {
    padding: $space;
    overflow: auto;
    margin-right: 48px;
    max-height: 150px;
  }

  background-color: rgba(#161616, $alpha);
  color: white;
  backdrop-filter: blur(5px);
  
  @include material-shadow(4, 1);
  .close {
    transition: all 0.1s ease-in-out;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "X";
      display: flex;
      align-items: center;
      justify-content: center;
    }
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 48px;
    z-index: 999;
    // background-color: rgba(white, 0);
    &:hover {
      background-color: rgba($black, 0.1);
      cursor: pointer;
    }
  }
  &.radius {
    border-radius: 3px;
    .close {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
  }

  &.success {
    background-color: rgba($green, $alpha);
  }
  &.error {
    background-color: rgba($red, $alpha);
  }
  &.warning {
    background-color: rgba($yellow, $alpha);
    color: $black;
  }
  &.info {
    background-color: rgba($blue, $alpha);
  }

  transition: all 0.2s ease-in-out;
  transform: scale(0);
  max-height: 0;
  &.open {
    transform: scale(1);
    max-height: 150px;
    margin-bottom: $space;
  }
}

@keyframes fade {
  from {
    opacity: 1;
    z-index: 999999999;
  }
  to {
    opacity: 0;
    z-index: -999999999;
  }
}
