<div class="modal" *ngIf="modalOpen">
  <div class="modal-wrapper">
    <div class="modal-close" (click)="modalOpen = false"></div>
    <div class="modal-content">
      <header>
        <h4>{{ 'APP.selectImage' | translate }}</h4>
      </header>

      <div class="content">
        <app-gallery-view
          [selectable]="true"
          [singleSelectable]="true"
          [editable]="false"
        ></app-gallery-view>
      </div>
    </div>
  </div>
</div>

<fieldset class="radius" style="margin-bottom: 16px;">
  <legend>{{ 'APP.addEditPage' | translate }}</legend>

  <div class="form-row">
    <div class="description">
      <label for="">{{ 'APP.alias' | translate }}</label>
    </div>
    <div class="original">
      <input class="radius" type="text" [(ngModel)]="model.alias" />
    </div>
  </div>

  <div class="form-row">
    <div class="description">
      <label for="">{{ "APP.show" | translate }}</label>
    </div>

    <div class="original">
      <select class="radius" name="parent_id" [(ngModel)]="model.status">
        <option value="1">{{ "APP.show" | translate }}</option>
        <option value="0">{{ "APP.hide" | translate }}</option>
      </select>
    </div>
  </div>

  <rap-step-tabs>
    <rap-step-tab
      *ngFor="let item of model.descriptions"
      [imgSrc]="languageService.getFromList(item.lang.id)?.flag"
      [title]="item.lang.short_title"
    >
      <div class="form-row">
        <div class="description">
          <label for="">{{ "APP.name" | translate }}</label>
        </div>
        <div class="original">
          <input class="radius" [(ngModel)]="item.title" type="text" />
        </div>
      </div>

      <div class="form-row">
        <div class="description">
          <label for="">{{ 'APP.description' | translate }}</label>
        </div>
        <div class="original editor-content editor-content-site-page">
          <div class="upload-img-editor-content">
            <button 
              (click)="uploadImgToEditor(item, $event)"
              class="upload-img-editor-btn"
            >
              {{ 'APP.uploadImage' | translate }}
            </button>
          </div>
          <angular-editor [placeholder]="'...'" [(ngModel)]="item.description" [config]="editorConfig"
          ></angular-editor>
          <!-- <textarea
            class="radius"
            [(ngModel)]="item.description"
            rows="3"
          ></textarea> -->
        </div>
      </div>
      <div class="form-row">
        <div class="description">
          <label for="">{{ 'APP.metaDescription' | translate }}</label>
        </div>
        <div class="original">
          <textarea
            class="radius"
            [(ngModel)]="item.meta_description"
            rows="3"
          ></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="description">
          <label for="">{{ "APP.metaKeywords" | translate }}</label>
        </div>
        <div class="original">
          <textarea
            class="radius"
            [(ngModel)]="item.meta_keywords"
            rows="3"
          ></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="description">
          <label for="">{{ 'APP.content' | translate }}</label>
        </div>
        <div class="original">
          <textarea class="radius" [(ngModel)]="item.text" rows="5"></textarea>
          <!-- <angular-editor [placeholder]="'...'" [(ngModel)]="item.text" [config]="editorConfig"
            uploadUrl="https://api.showu.com.ua/v1/image/upload"></angular-editor> -->
        </div>
      </div>
    </rap-step-tab>
  </rap-step-tabs>
</fieldset>
