<rap-panel-content
  [showForm]="pages.panelSettings.form"
  [showRightSide]="pages.panelSettings.right"
>
  <div form>
    <div *ngIf="selectedReview && !showFilters">
      <app-reviews-form
      [title]="'MENU.manage_site.addManufacturer' | translate"
      [review]="selectedReview"
      [langs]="langService.languages.data"
      (reviewsFormData)="reviewsFormData($event)"
      (reviewsSatus)="reviewsSatus($event)"
      ></app-reviews-form>
    </div>
    <div *ngIf="showFilters">
      <app-reviews-filters-form
        (reviewsFiltersFormData)="reviewsFiltersFormData($event)"
      ></app-reviews-filters-form>
    </div>
  </div>

  <div filter></div>
  <div content class="padding">
    <ng-template #notfound>
      <div class="d2 padding flex center gray500 text-center">{{ "APP.no_rec_yet" | translate }}<br>😞</div>
    </ng-template>
    <table
      class="raisins-table border-all radius"
      *ngIf="reviewsPageService.reviews?.data.length > 0; else notfound"
    >
      <thead>
        <tr>
          <th width="64px"></th>
          <th width="128px">{{ "reviews.goods" | translate }}</th>
          <th width="128px">{{ "reviews.producer" | translate }}</th>
          <th width="128px">{{ "reviews.authorOfTheReview" | translate }}</th>
          <th width="128px">{{ "reviews.review" | translate }}</th>
          <th width="128px">{{ "reviews.rating" | translate }}</th>
          <th width="148px">{{ "reviews.date" | translate }}</th>
          <th width="128px">{{ "reviews.status" | translate }}</th>
        </tr>
      </thead>
      <tbody>
          <!-- (click)="moderationOfReview(item)" -->
        <tr
          *ngFor="let item of reviewsPageService.reviews?.data"
          
        >
        <td class="text-center"> 
    
          <section class="example-section">
              <mat-checkbox class="example-margin"    (change)="moderationOfReview(item)"  [checked]="item.id==reviewId" [color]="'primary'" ></mat-checkbox>  
          </section>
        </td>
          <td class="text-center">{{ item.product.description.name }}</td>
          <td class="text-center">{{ item.product.manufactured.description.name }}</td>
          <td class="text-center">{{ item.author }}</td>
          <td class="text-center">{{ item.text }}</td>
          <td class="text-center">
            <rap-rating [rating]="item.rating"></rap-rating>
          </td>
          <td class="text-center">{{ modifyDateString(item.created_at) }}</td>
          <td class="text-center">
            <div class="order-status-content">
              <div class="dot"
                 [ngClass]="{
                    'green-bg': item?.status === 0,
                    'red-bg ': item?.status === -1,
                    'blue-bg': item?.status === 1
          
                 }">
              </div>
              <div class="status-text">{{ statusCodes[item?.status]?.name | translate}}
                
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <pre>{{ langServise.languages.data | json }}</pre> -->
    <!-- <app-pagination
      class="radius"
      [page]="reviewsPageService.page"
      [total]="Math.ceil(reviewsPageService.reviews.count / reviewsPageService.reviews.take)"
      [pagesToShow]="5"
      (goNext)="pageNextHandler()"
      (goPrev)="pagePrevHandler()"
      (goPage)="pageToHandler($event)"
      (pageChanged)="pageChangedHandler()"
    ></app-pagination> -->
    <mat-paginator
    [length]="reviewsPageService.reviews.count"
    [pageSize]="reviewsPageService.reviews.take"
    [pageSizeOptions]="[5, 10, 25]"
    (page)="pageEvent($event)  "
    >
    </mat-paginator>
  </div>
</rap-panel-content>
