<div class="reviews-form-container">
    <div class="reviews-form-title">{{ 'reviews.reviewsFilters' | translate }}</div>
    <div>
        <div class="reviews-wrapper">
            <div class="review-content">
                <div class="reviews-content__main">
                    <form [formGroup]="reviewsFiltersForm">
                        <div class="reviews-date">
                            <div class="reviews-date-title">{{ 'reviews.reviewsDateFrom' | translate }}</div>
                            <input formControlName="dateFrom" type="date" class="reviews-date-text"/>
                        </div>
                        <div class="reviews-date">
                            <div class="reviews-date-title">{{ 'reviews.reviewsDateTo' | translate }}</div>
                            <input formControlName="dateTo" type="date" class="reviews-date-text"/>
                        </div>
                        <div class="reviews-date">
                            <div class="reviews-response-title">{{ 'reviews.reviewStatus'| translate }}</div>
                            <div class="reviews-response-status">
                                <mat-form-field appearance="standart" class="sort-products">
                                    <div class="sort-products-wrapper">
                                        <mat-select
                                            (selectionChange)="onChange($event.value)"
                                            id="status"
                                            required
                                            formControlName="status">
                                            <div *ngFor="let statusCode of allStatusCodes">
                                                <mat-option [value]="statusCode.value">
                                                    {{ statusCode.name | translate }}
                                                </mat-option>
                                            </div>
                                        </mat-select>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
