<rap-panel-content
  [showForm]="pages.panelSettings.form"
  [showRightSide]="pages.panelSettings.right"
>
  <div form>
    <app-attribyte-group-form
      [title]="'ADD Attribytes group'"
      [model]="attrGrForm.model"
      [langs]="this.langService.languages.data"
    >
    </app-attribyte-group-form>
  </div>
  <div filter></div>
  <div content class="padding">
    <ng-template #notfound>
      <div class="d2 padding flex center gray500 text-center">No Records Yet<br>😞</div>
    </ng-template>
    <table
      class="raisins-table border-all radius"
      *ngIf="attrGr.data?.data.length > 0; else notfound"
    >
      <thead>
        <tr>
          <th width="64px">ID</th>
          <th width="64px">sort</th>
          <th width="">TITLE</th>
          <th width="128px">updated_at</th>
          <th width="128px">{{ "APP.action" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of attrGr.data?.data">
          <td data-label="ID" class="text-center">{{ item.id }}</td>

          <td class="text-center">{{ item.sort_order }}</td>

          <td>
            <div class="flex wrap" style="width: 100%;">
              <span class="title" *ngFor="let desc of item.description"
                ><span class="flag">{{
                  langService.getFromList(desc.lang_id)?.flag
                }}</span
                ><span class="name">{{ desc.name }}</span>
              </span>
            </div>
          </td>

          <td class="text-center">
            <small>{{ item.updated_at | localDate }}</small>
            <small *ngIf="!item.updated_at">—</small>
          </td>
          <td>
            <div class="flex wrap center">
              <button
                style="position: relative;"
                data-tooltip-left="Edit"
                role="button"
                (click)="edit(item)"
                class="button transparent radius"
              >
                <rap-svg-ico [src]="'assets/icons/edit.svg'"></rap-svg-ico>
              </button>

              <!-- <rap-delete-button
                data-tooltip-left="Delete"
                class="button transparent radius"
                (confirmed)="(null)"
                [src]="'assets/icons/delete.svg'"
              ></rap-delete-button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <app-pagination
      class="radius"
      [page]="attrGr.page"
      [total]="Math.ceil(attrGr.data.count / attrGr.data.take)"
      [pagesToShow]="5"
      (goNext)="pageNextHandler()"
      (goPrev)="pagePrevHandler()"
      (goPage)="pageToHandler($event)"
      (pageChanged)="pageChangedHandler()"
    ></app-pagination>
  </div>
</rap-panel-content>
