<rap-panel-content
  [showForm]="pages.panelSettings.form"
  [showRightSide]="pages.panelSettings.right"
>
  <div form>
    <app-user-form
      [user]="userForm.model"
      [roles]="role.all"
      [title]="'APP.addEditUser' | translate"
      [isEdit]="isEdit"
    ></app-user-form>
  </div>
  <div filter></div>

  <div content class="padding">
    <!-- <pre>{{ userForm.model | json}}</pre> -->
    <table
      class="raisins-table border-all radius"
      *ngIf="user.data?.data.length > 0"
    >
<!--      <button  (click) = "test()" >download</button>-->

      <thead>
        <tr>
          <th width="64px">{{ "APP.id" | translate }}</th>
          <th>{{ "APP.fullName" | translate }}</th>
          <th width="128px">{{ "APP.updated_at" | translate }}</th>
          <th width="128px">{{ "APP.action" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of user.data?.data">
          <td data-label="ID" class="text-center">{{ item.id }}</td>

          <td>{{ item.first_name }} {{ item.last_name }}</td>

          <td class="text-center">
            <!--  -->
            <small>{{ item.updated_at |localDate: "d MMMM HH:mm"}}</small>
            <small *ngIf="!item.updated_at">—</small>
          </td>
          <td>
            <div class="flex wrap center">
              <button
                style="position: relative;"
                data-tooltip-left="Edit"
                role="button"
                (click)="edit(item)"
                class="button transparent radius"
              >
                <rap-svg-ico [src]="'assets/icons/edit.svg'"></rap-svg-ico>
              </button>

              <!-- <rap-delete-button
                data-tooltip-left="Delete"
                class="button transparent radius"
                (confirmed)="(null)"
                [src]="'assets/icons/delete.svg'"
              ></rap-delete-button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <app-pagination
      class="radius"
      [page]="user.page"
      [total]="Math.ceil(user.data.count / user.data.take)"
      [pagesToShow]="5"
      (goNext)="pageNextHandler()"
      (goPrev)="pagePrevHandler()"
      (goPage)="pageToHandler($event)"
      (pageChanged)="pageChangedHandler()"
    ></app-pagination> -->
    <div class="footer-wrapper">
      <mat-paginator *ngIf="user.data.count >= 5" class="footer"
        [length]="user.data.count"
        [pageSize]="user.data.take"
        [pageSizeOptions]="[5, 10, 25]"
        (page)="pageEvent($event)"
      >
      </mat-paginator>
    </div>
  </div>
</rap-panel-content>
