<!-- <pre>{{ model | json }}</pre> -->

<div class="form-row">
  <div class="description">
    <label for=""> {{ 'productsAttributes.productsAttributesAttr' | translate }} </label>
  </div>

  <div class="original">
    <select class="radius" [(ngModel)]="model.attribyte_id" (click)="getClientAttributes()">
      <option *ngFor="let attr of filteredAttributes$ | async" value="{{ attr.id }}">{{
        attr.description.name
      }}</option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ 'productsAttributes.productsAttributesLang' | translate }}</label>
  </div>

  <div class="original">
    <select class="radius" [(ngModel)]="model.lang_id">
      <option *ngFor="let c of langs" value="{{ c.id }}">{{ c.title }}</option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ 'productsAttributes.productsAttributesValue' | translate }}</label>
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.text" />
  </div>
</div>
