<!-- <pre>{{ model | json }}</pre> -->

<div class="form-row">
  <div class="description">
    <label for="">{{"attributes.attr" | translate}}</label>
  </div>

  <div class="original">
    <select class="radius" [(ngModel)]="model.attribyte_id">
      <option *ngFor="let c of transformedAttributes" value="{{ c.attribyte_id }}">
        {{c.name}}
      </option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{"attributes.lang" | translate}}</label>
  </div>

  <div class="original">
    <select class="radius" [(ngModel)]="model.lang_id">
      <option *ngFor="let c of langs" value="{{ c.id }}">{{ c.title }}</option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{"attributes.value" | translate}}</label>
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.text" />
  </div>
</div>
