@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
