
<rap-step-tabs>
  <rap-step-tab [active]="true" [title]="'APP.base' | translate">
    <fieldset class="radius" style="margin-bottom: 16px;">
      <legend>{{ "category.description" | translate }}</legend>
      <app-option-information [selected]="selected"></app-option-information>
    </fieldset>
  </rap-step-tab>

  <rap-step-tab  [title]="'APP.value' | translate">
    <fieldset class="radius" style="margin-bottom: 16px;">
      <legend>{{'APP.value' | translate}}</legend>
      <app-option-value  [selected]="selected"></app-option-value>
    </fieldset>
  </rap-step-tab>
</rap-step-tabs>



