<fieldset class="radius" style="margin-bottom: 16px;">
  <legend>{{ title }}</legend>

  <div class="form-row">
    <div class="description">
      <label for="">{{ 'user.userRole' | translate }}</label>
    </div>

    <div class="original">
      <select class="radius" name="parent_id" [(ngModel)]="user.role_id">
        <option *ngFor="let c of roles" value="{{ c.id }}">{{ c.name }}</option>
      </select>
    </div>
  </div>
  <!-- <div class="form-row">
    <div class="description">
      <label for="">count manufacturer </label>
    </div>

    <div class="original">
      <input class="radius" type="text" [(ngModel)]="user.first_name" />
    </div>
  </div> -->

  <div class="form-row">
    <div class="description">
      <label for="">{{ 'user.userFirstName' | translate }}</label>
    </div>

    <div class="original">
      <input class="radius" type="text" [(ngModel)]="user.first_name" />
    </div>
  </div>

  <div class="form-row">
    <div class="description">
      <label for="">{{ 'user.userLastName' | translate }}</label>
    </div>

    <div class="original">
      <input class="radius" type="text" [(ngModel)]="user.last_name" />
    </div>
  </div>

  <div class="form-row">
    <div class="description">
      <label for="">{{ 'user.userEmail' | translate }}</label>
    </div>

    <div class="original">
      <input class="radius" type="text" [(ngModel)]="user.email" />
    </div>
  </div>

  <div class="form-row">
    <div class="description">
      <label for="">{{ 'user.userPhone' | translate }}</label>
    </div>

    <div class="original">
      <input class="radius" type="text" [(ngModel)]="user.tel" />
    </div>
  </div>

  <!-- <div class="form-row" *ngIf="!isEdit">
    <div class="description">
      <label for="">PASSWORD</label>
    </div>

    <div class="original">
      <input class="radius" type="text" [(ngModel)]="user.password" />
    </div>
  </div> -->

</fieldset>

<fieldset class="radius" style="margin-bottom: 16px;" *ngIf="user?.id">
  <legend>{{ "category.category" | translate }}</legend>
  <app-user-form-select 
    [model]="model"
    [user]="user">
  </app-user-form-select>
</fieldset>
