<rap-panel-content
  [showForm]="pages.panelSettings.form"
  [showRightSide]="pages.panelSettings.right"
>
  <div form>
    <app-product-form
      [title]="'APP.addProduct' | translate"
      [model]="prodForm.model"
      [host]="prodForm.host"
      [manufacturers]="manufacturer.all"
      [langs]="this.langService.languages.data"
    >
    </app-product-form>
  </div>
  <div filter></div>
  <div content class="padding">
    <ng-template #notfound>
      <div class="d2 padding flex center gray500 text-center">
        {{ "APP.no_rec_yet" | translate }} <br />😞
      </div>
    </ng-template>
    <table
      class="raisins-table border-all radius"
      *ngIf="product.data?.data.length > 0; else notfound"
    >
      <thead>
        <tr>
          <th width="64px">{{ "APP.id" | translate }}</th>
          <th width="64px">{{ "APP.photo" | translate }}</th>
          <th width="">{{ "APP.title" | translate }}</th>
          <th width="">{{ "APP.model" | translate }}</th>
          <th width="128px">{{ "APP.quantity" | translate }}</th>
          <th width="64px">{{ "APP.price" | translate }}</th>
          <th width="128px">{{ "APP.rating" | translate }}</th>
          <th width="128px">{{ "APP.updated_at" | translate }}</th>
          <th width="128px">{{ "APP.action" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of product.data?.data"
          [ngClass]="{ off: !item.status }"
        >
          <td data-label="ID" class="text-center">{{ item.id }}</td>
          <td data-label="LOGO">
            <div class="ratio">
              <div class="imax">
                <img
                  class="contain"
                  [src]="'//' + product.data.host + item.image?.src_mini"
                  [alt]="item.image_id"
                />
              </div>
            </div>
          </td>

      
          <td>
            <div class="flex wrap" style="width: 100%;">
              <span class="title flag-container" *ngFor="let desc of item.descriptions">
                <!-- <span class="flag">
                  {{ languageLocalizationService.getLanguage(desc.lang_id)?.flag }}
                </span> -->
                <img class="flag" src="{{ langService.getFromList(desc.lang_id)?.flag }}"/>
                <span class="name">{{ desc.name }}</span>
              </span>
            </div>
          </td>

          <td class="text-center">{{ item.model }}</td>
          <td class="text-center">{{ item.quantity }}</td>
          <td class="text-center">{{ item.price }}</td>
          <td class="text-center">
            <rap-rating style="position: relative;" [attr.data-tooltip-top]="item.rating" [rating]="item.rating"></rap-rating>
          </td>

          <td class="text-center">
            <!--  -->
            <small>{{ item.updated_at | localDate }}</small>
            <small *ngIf="!item.updated_at">—</small>
          </td>
          <td>
            <div class="flex wrap center">
              <rap-delete-button
                data-tooltip-left="on/off"
                class="button transparent radius"
                [ngClass]="{ on: item.status, off: !item.status }"
                (click)="updateStatus(item)"
                [@changeValueHighlight]="item.status"
                [src]="
                  item.status != 1
                    ? 'assets/icons/eye-cloce.svg'
                    : 'assets/icons/eye-open.svg'
                "
              ></rap-delete-button>
              <button
                style="position: relative;"
                data-tooltip-left="Edit"
                role="button"
                (click)="edit(item)"
                class="button transparent radius"
              >
                <rap-svg-ico [src]="'assets/icons/edit.svg'"></rap-svg-ico>
              </button>

              <!-- <rap-delete-button
                data-tooltip-left="Delete"
                class="button transparent radius"
                (confirmed)="(null)"
                [src]="'assets/icons/delete.svg'"
              ></rap-delete-button> -->
            </div>
          </td>
        </tr>
      
      </tbody>
    </table>

    <!-- <app-pagination
      class="radius"
      [page]="product.page"
      [total]="Math.ceil(product.data.count / product.data.take)"
      [pagesToShow]="5"
      (goNext)="pageNextHandler()"
      (goPrev)="pagePrevHandler()"
      (goPage)="pageToHandler($event)"
      (pageChanged)="pageChangedHandler()"
    ></app-pagination> -->
    <mat-paginator *ngIf="product.data.count >= 5" class="footer"
      [length]="product.data.count"
      [pageSize]="product.data.take"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="pageEvent($event)"
    >
    </mat-paginator>
  </div>
</rap-panel-content>

