<div class="customer-form-container">
    <div class="customer-form-title">{{ title }}</div>
    <form [formGroup]="editCustomerInfoForm" (submit)="getEditCustomerFormData()">
        <div class="customer-input-wrapper">
            <div class="customer-input-content">
                <label>Прізвище</label>
                <div>
                    <input matInput
                        formControlName="customerLastName"
                        class="customer-input"
                        id="customerLastName"
                        required>
                </div>
            </div>
            <div class="customer-input-content">
                <label>Ім'я</label>
                <div>
                    <input matInput
                        formControlName="customerFirstName"
                        class="customer-input"
                        id="customerFirstName"
                        required>
                </div>
            </div>
            <div class="customer-input-content">
                <label>Email</label>
                <div>
                    <input matInput
                        formControlName="customerEmail"
                        class="customer-input"
                        id="customerEmail"
                        required>
                </div>
            </div>
            <div class="customer-input-content">
                <label>Номер</label>
                <div>
                    <input matInput
                        formControlName="customerPhone"
                        class="customer-input"
                        id="customerPhone"
                        required>
                </div>
            </div>
        </div>
    </form>
</div>
