<div class="modal" *ngIf="modalOpen">
    <div class="modal-wrapper">
      <div class="modal-close" (click)="modalOpen = false"></div>
      <div class="modal-content">
        <header>
          <h4>{{ 'APP.selectImage' | translate }}</h4>
        </header>
        <div class="content">
          <app-gallery-view
            [selectable]="true"
            [singleSelectable]="true"
            [editable]="false"
          ></app-gallery-view>
        </div>
      </div>
    </div>
  </div>

<rap-step-tabs>
  <rap-step-tab   [title]="'APP.base' | translate">
  <h2 class="text-center tabs-header" *ngIf="title">{{ title }}</h2>
  
  <fieldset class="radius" style="margin-bottom: 16px;">
    <legend>{{ 'APP.base' | translate }}</legend>
  
    <div class="form-row">
      <div class="description">
        <label for="">{{ 'APP.image' | translate }}</label>
      </div>
  
      <div class="original">
        <app-choice-button
          style="max-width: 192px;"
          class="radius"
          [src]="
          'api.showu.com.ua'
              ? '//' + 'api.showu.com.ua' + manufacturer.image?.src_mini
              : manufacturer.image?.src_mini
          "
          (press)="onPress()"
          (reset)="onReset()"
        ></app-choice-button>
    
        <input type="hidden" [(ngModel)]="manufacturer.image_id" />
      </div>
    </div>
  
    <div class="form-row">
      <div class="description">
        <label for="">{{ 'APP.code' | translate }}</label>
      </div>
  
      <div class="original">
        <input class="radius" type="text" [(ngModel)]="manufacturer.code" />
      </div>
    </div>

    <div class="form-row">
        <div class="description">
          <label for="">{{ 'APP.rating' | translate }}</label>
        </div>
    
        <div class="original">
          <input class="radius" type="text" [(ngModel)]="manufacturer.rating" />
        </div>
      </div>
  
   
    <div class="form-row">
      <div class="description">
        <label for="">{{ 'APP.show' | translate }}</label>
      </div>
  
      <div class="original">
        <select class="radius" name="parent_id" [(ngModel)]="manufacturer.status">
          <option value="1">{{ 'APP.show' | translate }}</option>
          <option value="0">{{ 'APP.hide' | translate }}</option>
        </select>
      </div>
    </div>
  </fieldset>
  
  <fieldset
    *ngFor="let item of manufacturer.description"
    class="radius"
    style="margin-bottom: 16px;"
  >
    <legend class="flag-container">
      <!-- {{ item.lang.flag }}  -->
      <img class="flag" src="{{ languageService.getFromList(item.lang.id)?.flag }}"/>
      {{ item.lang.short_title }}
    </legend>
  
    <!-- <input type="hidden" name="lang_id" value="{{ item.lang_id }}" />
    <input type="hidden" name="id" value="{{ item.id }}" /> -->
  
    <div class="form-row">
      <div class="description">
        <label for="">{{ 'roles.name' | translate }}</label>
      </div>
  
      <div class="original">
        <input class="radius" [(ngModel)]="item.name" type="text" />
      </div>
    </div>
  
    <div class="form-row">
      <div class="description">
        <label for="">{{ 'category.description' | translate }}</label>
      </div>
  
      <div class="original">
        <angular-editor [placeholder]="'...'" [(ngModel)]="item.description" [config]="editorConfig"
          uploadUrl="https://api.showu.com.ua/v1/image/upload"></angular-editor>
        <!-- <textarea
          name=""
          class="radius"
          [(ngModel)]="item.description"
          rows="2"
        ></textarea> -->
      </div>
    </div>


    <div class="form-row">
        <div class="description">
          <label for="">{{ "APP.metaKeywords" | translate }}</label>
        </div>
    
        <div class="original">
          <input class="radius" [(ngModel)]="item.meta_keywords" type="text" />
        </div>
      </div>
    
      <div class="form-row">
        <div class="description">
          <label for="">{{ 'APP.metaDescription' | translate }}</label>
        </div>
    
        <div class="original">
          <textarea
            name=""
            class="radius"
            [(ngModel)]="item.meta_description"
            rows="2"
          ></textarea>
        </div>
      </div>
  </fieldset>
  </rap-step-tab>
  <rap-step-tab *ngIf="showTabSize"  [title]="'MENU.manufacturer.table' | translate">
    <fieldset class="radius" style="margin-bottom: 16px;" >
      <legend>{{ "MENU.manufacturer.table" | translate }}</legend>
      <app-manufacturer-form-sizes [selected]="selected"></app-manufacturer-form-sizes>
    </fieldset>
  </rap-step-tab>
</rap-step-tabs>
