<div class="modal" *ngIf="modalOpen">
  <div class="modal-wrapper">
    <div class="modal-close" (click)="modalOpen = false"></div>
    <div class="modal-content">
      <header>
        <h4>{{ "APP.selectImage" | translate }}</h4>
      </header>

      <div class="content">
        <app-gallery-view
          [selectable]="true"
          [singleSelectable]="true"
          [editable]="false"
        ></app-gallery-view>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center" *ngIf="title">{{ title }}</h2>

<rap-step-tabs>
  <rap-step-tab [active]="true" [title]="'APP.base' | translate">
    <fieldset class="radius" style="margin-bottom: 16px;">
      <legend>{{ "APP.base" | translate }}</legend>
      <product-form-base
        (press)="onPress()"
        (reset)="onReset()"
        [model]="model"
        [manufacturers]="manufacturers"
        [host]="host"
      >
      </product-form-base>
    </fieldset>

    <fieldset class="radius" style="margin-bottom: 16px;">
      <legend>{{ "category.description" | translate }}</legend>
      <product-form-description [model]="model"></product-form-description>
    </fieldset>
  </rap-step-tab>

  <rap-step-tab [title]="'APP.data' | translate">
    <fieldset class="radius" style="margin-bottom: 16px;">
      <legend>{{ "APP.data" | translate }}</legend>
      <product-form-data [model]="model"></product-form-data>
    </fieldset>

    <fieldset class="radius" style="margin-bottom: 16px;">
      <legend>{{ "APP.codes" | translate }}</legend>
      <product-form-codes [model]="model"></product-form-codes>
    </fieldset>
  </rap-step-tab>

  <rap-step-tab [title]="'APP.links' | translate" *ngIf="model.id">
    <fieldset class="radius" style="margin-bottom: 16px;">
      <legend>{{ "category.category" | translate}}</legend>
      <product-form-category [model]="model"></product-form-category>
    </fieldset>
  </rap-step-tab>

  <rap-step-tab [title]="'APP.images' | translate" *ngIf="model.id">
    <fieldset class="radius" style="margin-bottom: 16px;">
      <legend>{{ "APP.images" | translate }}</legend>
      <product-form-images [model]="model"></product-form-images>
    </fieldset>
  </rap-step-tab>

  <rap-step-tab [title]="'APP.attribytes' | translate" *ngIf="model.id">
    <fieldset class="radius" style="margin-bottom: 16px;">
      <legend>{{ "APP.attribytes" | translate }}</legend>
      <product-form-attributes [langs]="langs" [model]="model"></product-form-attributes>
    </fieldset>
  </rap-step-tab>
  <rap-step-tab [title]="'APP.form-sale' | translate" *ngIf="model.id">
    <fieldset class="radius" style="margin-bottom: 16px;">
      <legend>{{ "APP.form-sale" | translate }}</legend>
      <app-product-form-sale [model]="model"></app-product-form-sale>
    </fieldset>
  </rap-step-tab>
</rap-step-tabs>
