<fieldset class="radius" style="margin-bottom: 16px;">
  <legend>{{ title }}</legend>

  <div class="form-row">
    <div class="description">
      <label for="">{{ 'siteMenu.siteMenuLink' | translate }}</label>
    </div>
    <div class="original">
      <input class="radius" type="text" [(ngModel)]="model.link" />
    </div>
  </div>

  <div class="form-row">
    <div class="description">
      <label for="">{{ 'APP.show' | translate }}</label>
    </div>

    <div class="original">
      <select class="radius" name="parent_id" [(ngModel)]="model.status">
        <option value="1">{{ 'APP.show' | translate }}</option>
        <option value="0">{{ 'APP.hide' | translate }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="description">
      <label for="">{{ 'siteMenu.siteMenuType' | translate }}</label>
    </div>

    <div class="original">
      <select class="radius" name="parent_id" [(ngModel)]="model.type">
        <option value="main">{{ 'siteMenu.siteMenuShop' | translate }}</option>
        <option value="shop">{{ 'siteMenu.siteMenuMain' | translate }}</option>
        <option value="help">{{ 'siteMenu.siteMenuHelp' | translate }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="description">
      <label for="">{{ 'siteMenu.siteMenuSortOrder' | translate }}</label>
    </div>
    <div class="original">
      <input class="radius" type="text" [(ngModel)]="model.sort_order" />
    </div>
  </div>

  <rap-step-tabs>
    <rap-step-tab
      *ngFor="let item of model.descriptions"
      [imgSrc]="languageService.getFromList(item.lang.id)?.flag"
      [title]="item.lang.short_title"
    >
      <div class="form-row">
        <div class="description">
          <label for="">{{ 'siteMenu.siteMenuName' | translate }}</label>
        </div>
        <div class="original">
          <input class="radius" [(ngModel)]="item.title" type="text" />
        </div>
      </div>
    </rap-step-tab>
  </rap-step-tabs>
</fieldset>
