<div class="form-row">
  <div class="description">
    <label for="">{{ "APP.mainImage" | translate }}</label>
  </div>

  <div class="original">
    <app-choice-button
      style="max-width: 192px;"
      class="radius"
      [src]="host ? '//' + host + model.image?.src_mini : model.image?.src_mini"
      (press)="onPress()"
      (reset)="onReset()"
    ></app-choice-button>
    <input type="hidden" [(ngModel)]="model.image_id" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ "APP.model" | translate }}</label>
  </div>

  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.model" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ "collection.manufacturer" | translate }}</label>
  </div>

  <div class="original" *ngIf="manufacturers.length > 0 && isOwnerManufacturers">
    <select
      class="radius"
      name="manufactured_id"
      [(ngModel)]="model.manufactured_id"
    >
      <option *ngFor="let c of manufacturers" value="{{ c.id }}">{{
        c.description[0]?.name
      }}</option>
    </select>
  </div>
  <div class="original" *ngIf="managerManufacturers.length > 0 && isManagerManufacturers">
    <select
      class="radius"
      name="manufactured_id"
      [(ngModel)]="model.manufactured_id"
    >
      <option *ngFor="let c of managerManufacturers" value="{{ c.id }}">{{
        c.description[0]?.name
      }}</option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ "APP.show" | translate}}</label>
  </div>

  <div class="original">
    <select class="radius" name="parent_id" [(ngModel)]="model.status">
      <option value="0">{{ "APP.hide" | translate}}</option>
      <option value="1">{{ "APP.show" | translate}}</option>
    </select>
  </div>
</div>
<div class=" form-row settings-input-content sort-settings-content">
  <div class="description">
    <label for="sizeGroup">{{ "sizeGroups.groupSize" | translate }}</label>
  </div>
  <div class="sort-products-container">
    <mat-form-field appearance="standart" class="sort-products">
      <div class="sort-products-wrapper">
        <mat-select id="sizeGroup" [(ngModel)]="groupId" (selectionChange)="selectGroup(groupId)" >
          <div *ngFor="let sizeGroup of arrSizeGroup" >
            <mat-option [value]="sizeGroup.id">{{sizeGroup?.description?.name}}</mat-option>
          </div>
        </mat-select>
      </div>
    </mat-form-field>
  </div>
</div>
