.customers-content {
    font-size: 14px;
} 

.type-of-registration {
   font-size: 13px;
}

.form {
    width: 454px !important;
}

.customer-form-style {
    width: 454px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.customers-edit__img {
    width: 16px;
}
.download{
    position: absolute;
    z-index: 10;
    //top: 20px;
    right: 50px;
}
