
<div class="order-container padding">
   <table class="raisins-table border-all radius order-table">
      <thead>
      <tr>
         <th width="64px">ID</th>
         <th width="128px">Клієнт</th>
         <th width="128px">Виробник</th>
         <th width="128px">Сумма,грн</th>
         <th width="128px">Дата</th>
         <th width="128px">Статус</th>
         <th width="128px">Дії</th>
      </tr>
      </thead>

      <tbody class="table-body">
      <tr>
         <td width="64px" class="text-center">1</td>
         <td width="128px" class="text-center">Петренко Стьопа</td>
         <td width="128px" class="text-center">NIKE</td>
         <td width="128px" class="text-center">3000,00</td>
         <td width="128px" class="text-center">28.07.2020 10:00</td>
         <td width="128px" class="text-center"><input type="text"></td>
         <td width="100%" class="panel-header-buttons text-center">
            <button   class="button transparent small"><rap-svg-ico [src]="'assets/icons/eye-open.svg'"></rap-svg-ico></button>
            <button (click)="orderSideStatus=!orderSideStatus" class="button transparent small"><rap-svg-ico [src]="'assets/icons/edit.svg'"></rap-svg-ico>
            </button>
         </td>
      </tr>
      <div  *ngIf="orderSideStatus" class="order-sideBar "  >
         <div class="order-sideBar__close" (click)="orderSideStatus=!orderSideStatus">
            <img src="assets/icons/plus.svg">
         </div>
      </div>
      </tbody>
   </table>
</div>
