.order-container{
  .order-table{
    .table-body{
      position: relative;
     .panel-header-buttons{
       margin: 0 auto;
       display: flex;
       justify-content: space-around;
       align-items: center;
       flex-direction: row;
     }
      .order-sideBar{
        border-top: 1px silver solid;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14), 0 1px 2px rgba(0, 0, 0, 0.24);
       background-color: white;
        position: absolute;
        z-index: 1000;
        width: 550px;
        height: 100vh;
        right: 0;
        top: 0;

      }
    }
  }
}
.order-sideBar__close{
  width: 20px;
  transform: rotate(45deg);
}

.order-status {
  border: 0.5px solid gray;
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  padding: 4px 9px;
  border-radius: 2px;
}

.order-status-content {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}

.blue-bg {
  background-color: #2980B9;
}

.red-bg {
  background-color: #E74C3C;
}

.green-bg {
  background-color: #28B463;
}

.white-bg {
  background-color: transparent;
}

.status-text {
  margin-left: 3px;
}

.orders-select {
  width: 100%;
  border: 0.5px solid lightgray;
  border-radius: 3px;
  padding-left: 8px;
  height: 31px !important;
  margin-left: 10px;
  margin-right: 10px;
}

::ng-deep {
  .mat-form-field {
    .mat-form-field-wrapper {
      padding-bottom: 10px;

      .mat-form-field-flex {
        .mat-form-field-infix {
          //width: 100%;
          padding: 0;
          .mat-select {
            margin-right: 5px;
            margin-left: 0px;
            margin-top: -2px;
            padding-top: 6px;
            padding-right: 3px;
            .mat-select-trigger {
              .mat-select-value-text {
                font-size: 13px;
              }
              .mat-select-arrow-wrapper {
                .mat-select-arrow {
                  box-sizing: border-box;
                  height: 10px;
                  width: 10px;
                  border-style: solid;
                  border-color: #000;
                  border-width: 0px 1px 1px 0px;
                  transform: rotate(45deg);
                  transition: border-width 150ms ease-in-out;
                  margin-top: -6px;
                }
              }
            }
          }
        }
      }
    }
  }
}

::ng-deep {
  .mat-option {
    height: 2.3em !important;
    .mat-option-text {
      font-size: 13px;
    }
  }
}

.eye-open-icon {
  width: 20px;
}