.order-container{
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .order-table{
    margin-bottom: 6px;

    .table-body {
     .panel-header-buttons {
       //margin: 0 auto;
       display: flex;
       justify-content: space-around;
       align-items: center;
       flex-direction: row;
     }
      .order-sideBar{
        border-top: 1px silver solid;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14), 0 1px 2px rgba(0, 0, 0, 0.24);
        background-color: white;
        position: absolute;
        z-index: 1000;
        width: 550px;
        height: 100vh;
        right: 0;
        top: 0;
      }
    }
  }
}
.order-sideBar__close{
  width: 20px;
  transform: rotate(45deg);
}

.order-status {
  border: 0.5px solid gray;
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  padding: 4px 9px;
  border-radius: 2px;
}

.order-status-content {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}

.blue-bg {
  background-color: #2980B9;
}

.red-bg {
  background-color: #E74C3C;
}

.green-bg {
  background-color: #28B463;
}

.white-bg {
  background-color: transparent;
}

.status-text {
  margin-left: 3px;
}

.orders-select {
  width: 100%;
  border: 0.5px solid lightgray;
  border-radius: 3px;
  padding-left: 8px;
  height: 31px !important;
  margin-left: 10px;
  margin-right: 10px;
}

.eye-open-icon {
  width: 20px;
}

.general-sum {
  color: #9f1941;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 62px;
  z-index: 0;
}

.sum-bold {
  font-weight: 600;
}

::ng-deep {
  .mat-paginator {
    flex-direction: row;
   
    .mat-paginator-outer-container{
      flex-direction: row;
      .mat-paginator-container{
        flex-direction: row;
        // border: solid silver 1px;
        box-shadow: 2px 4px 16px -1px rgba(97,97,97,0.45);
          .mat-paginator-page-size{
            flex-direction: row;
              mat-form-field{
              .mat-form-field-wrapper {
                .mat-form-field-infix{
                  width: 75px;
                }
              }
            }
          }
          .mat-paginator-range-actions{
            flex-direction: row;
          }
      }
    }
  }
}

table {
  background-color: #f3f3f3;

  tbody {
    height: 360px;
    overflow-y: scroll !important;
    display: block;

    tr {
      //width: 100%;
      display: inline-table;
    }
  }

  thead {
    position: relative;
    display: block;
  }
}

// body {
//   background-color: #bdc3c7;
// }

@media only screen and (max-width: 1348px) {
  .min-width__64 {
    min-width: 64px;
  }
  
  .min-width__128 {
    min-width: 128px;
  }
  
  .min-width__138 {
    min-width: 138px;
  }
  
  .min-width__206 {
    min-width: 206px;
  }

  .min-width__216 {
    min-width: 216px;
  }
}

@media only screen and (min-width: 1348px) {
  .min-width__64 {
    min-width: 64px;
  }
  
  .min-width__128 {
    min-width: 128px;
  }
  
  .min-width__138 {
    min-width: 138px;
  }
  
  .min-width__206 {
    min-width: 206px;
  }

  .min-width__216 {
    min-width: 216px;
  }
}

@media only screen and (min-width: 1600px) {
  table {
    tbody {
      height: 531px;
    }
  }

  .min-width__64 {
    min-width: 64px;
  }
  
  .min-width__220 {
    min-width: 220px;
  }
  
  .min-width__234 {
    min-width: 234px;
  }
  
  
  .min-width__238 {
    min-width: 238px;
  }
}
