<rap-panel-content
[showForm]="pages.panelSettings.form"
[showRightSide]="pages.panelSettings.right"
>
   <div form>
      <div *ngIf="selectedClientOrder && !showFilters">
         <app-order-form
            [title]="'currencies.addEditCurrencyInfo' | translate"
            [order]="selectedClientOrder"
            [langs]="langService.languages.data"
            [status]="status"
            [userOrders]="userOrders"
            class="currency-form-style"
            (ordersFormData)="sendOrdersFormData($event)"
            (ordersStaus)="seveStatus($event)"
         ></app-order-form>
      </div>
      <div *ngIf="showFilters">
         <app-order-filters-form 
            (orderFiltersFormData)="orderFiltersFormData($event)">
         </app-order-filters-form>
      </div>
      <div *ngIf="isOpenEditOrderForm">
         <app-edit-order-form
            [selectedClientOrder]="editedOrder"
         >
         </app-edit-order-form>
      </div>
   </div>
   <div filter></div>
   <div content class="order-container padding">
      <div *ngIf="orderService.order?.data.length === 0" #notfound>
         <div class="d2 padding flex center gray500 text-center">{{ "APP.no_rec_yet" | translate }}<br>😞</div>
      </div>
      <table *ngIf="orderService.order?.data.length > 0" class="raisins-table border-all radius order-table">
         <thead>
         <tr>
            <th width="64px">ID</th>
            <th width="128px">{{ 'MENU.orders.client' | translate }}</th>
            <th width="128px">{{ 'MENU.orders.manufacturer' | translate }}</th>
            <th width="128px">{{ 'MENU.orders.sum' | translate }}</th>
            <th width="128px">{{ 'MENU.orders.date' | translate }}</th>
            <th width="128px">{{ 'MENU.orders.status' | translate }}</th>
            <th width="128px">{{ 'MENU.orders.actions' | translate }}</th>
         </tr>
         </thead>

         <tbody class="table-body">
         <tr *ngFor="let order of orderService.order?.data">
            <td width="64px" class="text-center">{{ order?.id }}</td>
            <td width="128px" class="text-center">{{ order?.last_name }} {{ order?.first_name }}</td>
            <td width="128px" class="text-center">{{ order?.manufacturer?.description.name }}</td>
            <td width="128px" class="text-center">{{ order?.total.slice(0, -2) }}</td>
            <td width="128px" class="text-center">{{ order?.created_at }}</td>
            <td width="128px" class="text-center">
               <div class="order-status-content">
                   <div class="dot" [style]="{'background': order.status[0].color}"></div>
                   <div class="status-text">{{ order.status[0].description.dectiption}}</div>
               </div>
            </td>
            <td width="100%" class="panel-header-buttons text-center" style="padding: 19px;">
               <button (click)="reviewOrder(order)" class="button transparent small">
                  <rap-svg-ico class="eye-open-icon" [src]="'assets/icons/eye-open.svg'"></rap-svg-ico>
               </button>
               <button (click)="openEditOrder(order)" class="button transparent small">
                  <rap-svg-ico [src]="'assets/icons/edit.svg'"></rap-svg-ico>
               </button>
            </td>
      
         </tr>
         <div  *ngIf="orderSideStatus" class="order-sideBar "  >
            <div class="order-sideBar__close" (click)="orderSideStatus=!orderSideStatus">
               <img src="assets/icons/plus.svg">
            </div>
         </div>
         </tbody>
      </table>
      <div *ngIf="(currentUserRoleId === 1) && (orderService.order?.data.length !== 0)"  class="general-sum">
         <div>{{ 'orders.totalSum' | translate }} :</div>
         <div class="sum-bold"> {{ totalSum }}</div> 
         <div> {{ 'orders.ordersUAH' | translate }}</div>
      </div>
  
      <!-- <app-pagination
         *ngIf="orderService.order?.data.length > 0"
         class="radius"
         [page]="orderService.page"
         [total]="Math.ceil(orderService.order?.count / orderService.order?.take)"
         [pagesToShow]="5"
         (goNext)="pageNextHandler()"
         (goPrev)="pagePrevHandler()"
         (goPage)="pageToHandler($event)"
         (pageChanged)="pageChangedHandler()"
      ></app-pagination> -->

      <mat-paginator
      [length]="orderService.order?.count"
      [pageSize]="orderService.order?.take"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="pageEvent($event)  "
      >
      </mat-paginator>
   </div>

</rap-panel-content>

