@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  display: block;
  position: relative;
}

.nav {
  list-style: none;
  //margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: $space;
  li {
    border-bottom: dashed 1px transparent;
    a {
      display: block;
      padding: $space/4;
      text-decoration: none;
      cursor: pointer;
    }
    &.active {
      color: $blue;
      border-color: currentColor;
    }
  }
}

.justify-content {
  justify-content: center;
}
