<div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x1_5"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>

<app-golden-panel>
    <section>
        
        <div class='c'>
            <div class='_404'>404</div>
            
            

            
        </div>
    </section>
  
    <aside>
        <div class='_1'>{{ 'pageNotFound.thePage' | translate}}</div>
            <div class='_2'>{{ 'pageNotFound.wasNotFound' | translate}}</div>
            <hr>
        <a class='button primary radius large' [routerLink]="'/'">{{ 'pageNotFound.backToHome' | translate}}</a>
    </aside>
  </app-golden-panel>