@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.rap_logo,
.showu_logo {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 1;
    transform: scale(1.01);
  }
}

.rap_logo {
  width: 128px;
  fill: $blue;
}

.showu_logo {
  // width: 100%;
  // max-width: 384px;
  width: 384px;
  fill: $primary;
}

@include screen-w(800px) {
  .showu_logo {
    width: 256px;
  }
}

.title {
  margin-top: $space;
  opacity: 0.72;
}

footer {
  font-weight: bold;
  color: rgba($gray200, 0.64);
}
