<rap-panel-content
        [showForm]="pages.panelSettings.form"
        [showRightSide]="pages.panelSettings.right"
>
    <div form>
        <app-lipay-form [selected]="selected"></app-lipay-form>
    </div>
    <div filter></div>
    <div content class="padding">
        <table class="raisins-table border-all radius">
            <thead>
            <tr> 
                    <!-- {{ "APP.title" | translate }} -->
                <th width="160px">{{ "liqpay.onlinePay" | translate }}</th>
                <th width="160px">Publick key</th>
                <th width="240px">Privat key</th>
                <th width="128px">{{ "APP.action" | translate }}</th>
            </tr>
            </thead>
            <tbody>
                    <!-- *ngFor="let payment of arrPayment; let i=index" -->
            <tr
                [ngClass]="">
                <td class="text-center">
                  LiqPay
                </td>
                <td class="text-center">
                   {{liqPay?.public_key}}
                </td>
                <td class="text-center">
                    {{liqPay?.private_key}}
                 </td>

                <td>
                    <div class="flex wrap center">
                        <button
                                style="position: relative;"
                                [attr.data-tooltip-left]="'APP.edit' | translate"
                                role="button"
                                (click)="edit(liqPay)"
                                class="button transparent radius"
                        >
                            <rap-svg-ico class="editBtn" [src]="'assets/icons/edit.svg'"></rap-svg-ico>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <app-pagination
                class="radius"
                [page]="paymentService.page"
                [total]="Math.ceil(alldata?.count/alldata?.take)"
                [pagesToShow]="5"
                (goNext)="pageNextHandler()"
                (goPrev)="pagePrevHandler()"
                (goPage)="pageToHandler($event)"
                (pageChanged)="pageChangedHandler()"
        ></app-pagination>
    </div>
</rap-panel-content>




