.editBtn{
  color: black;
  font-size: 15px;
  width: 15px;
}
.flag-container{
  padding-right: 5px;
  margin-right: 7px;
  border-right: 1px dashed #646464;
}
.country{
  width: 19px;
  height: 19px;

}
.country-img-wrap{
  margin: 0 auto;
}
