


<rap-panel-content
        [showForm]="pages.panelSettings.form"
        [showRightSide]="pages.panelSettings.right"
>
    <div form>
        <app-countries-form  
        [selected]="selected"
        [selectedCountryPayment]="selectedCountryPayment" 
        [selectedCountryDeliver]="selectedCountryDeliver">
        </app-countries-form>
    </div>
    <div filter></div>
    <div content class="padding">
        <table class="raisins-table border-all radius">
            <thead>
            <tr>
                <th width="64px">{{ "APP.id" | translate }}</th>
                <th width="128px">{{ "MENU.localization.flag" | translate }}</th>
                <th width="">{{ "APP.title" | translate }}</th>
                <th width="200px">{{ "APP.updated_at" | translate }}</th>
                <th width="200px">{{ "APP.updated_at" | translate }}</th>
                <th width="128px">{{ "APP.action" | translate }}</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let country of arrCountries; let i=index"
                [ngClass]="">
                <td class="text-center">{{i+1}}</td>
                <td class="text-center" data-label="LOGO">
                
                   
                        <div class="ratio">
                          <div class="imax">
                            <img
                            class="contain"
                            [src]="'//' + 'api.showu.com.ua' + country.image.src_mini"
                            [alt]="country.id"
                            />
                          </div>
                        </div>
                
                </td>
                <td class="text-center">
                    <div class="flex wrap" style="width: 100%;">
                             <span class="title flag-container" *ngFor="let count of country.descriptions">
                                 <img class="flag" src="{{ langService.getFromList(count.lang_id)?.flag }}"/>
                               <span class="name">{{ count.name }}</span>
                             </span>
                    </div>
                </td>
                <td class="text-center">
                    {{country.updated_at == null ? '-' : country.updated_at}}
                </td>
                <td class="text-center">{{country.iso}}</td>

                <td>
                    <div class="flex wrap center">
                        <button
                                style="position: relative;"
                                [attr.data-tooltip-left]="'APP.edit' | translate"
                                role="button"
                                (click)="edit(country)"
                                class="button transparent radius"
                        >
                            <rap-svg-ico class="editBtn" [src]="'assets/icons/edit.svg'"></rap-svg-ico>
                        </button>

                        <rap-delete-button
                                (click)="deleteStatus(country)"
                                data-tooltip-left="Delete"
                                class="button transparent radius"
                                [src]="'assets/icons/delete.svg'"
                        ></rap-delete-button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <app-pagination
                class="radius"
                [page]="countriesServices.page"
                [total]="Math.ceil(alldata?.count/alldata?.take)"
                [pagesToShow]="5"
                (goNext)="pageNextHandler()"
                (goPrev)="pagePrevHandler()"
                (goPage)="pageToHandler($event)"
                (pageChanged)="pageChangedHandler()"
        ></app-pagination>
    </div>
</rap-panel-content>



