<header>
  <rap-svg-ico *ngIf="!logoStatus"
    [routerLink]="['/',lang.routeLang]"
    routerLinkActive="active"
    src="assets/showu.svg"
    alt="ShowU"
  ></rap-svg-ico>

  <rap-svg-ico class="small-logo" *ngIf="logoStatus"
    [routerLink]="['/',lang.routeLang]"
    routerLinkActive="active"
    src="assets/icons/showlogo.svg"
    alt="ShowU"
  ></rap-svg-ico>
</header>

<div [ngClass]="{smallBar: logoStatus}">
  <ng-container *ngFor="let item of menu.nav;let i=index">
  <rap-nav-group
    [title]="item.title"
    [icon]="item.icon"
    [(open)]="item.open"
    *ngIf="!item.hidden"
    (click)="closeMenu(item,i)"
    [item]="item"
  
  >
  <ng-container  *ngFor="let link of item.items">
    <rap-nav-item
    *ngIf="!link.hidden"
      [langLink]="lang.routeLang"
      [nav]="link"
    ></rap-nav-item>
    </ng-container>
    
  </rap-nav-group>
</ng-container>
</div>
<!-- {{menu.nav|json}} -->

<footer>
  <!-- <app-user-menu></app-user-menu> --> 
  <!-- <div class="flex center wrap">
    <a style="padding: 4px;" class="button transparent radius"
      *ngFor="let item of lang.langs"
      [routerLink]="getRoute(item.locale)">
  
        <img class="flag" src="{{ languageService.getCountryFlag(item.flag) }}"/>
      </a>
  </div> -->
</footer>
<div class="open-shop" >
  <a href="https://showu.com.ua/">
  <rap-nav-group
  [ngClass]="{'small-move-show': logoStatus}"
  [routerLink]="['']"
    [title]="'showupage'"
    [icon]="'assets/icons/web.svg'"
   
  >
  </rap-nav-group>
</a>
</div>
