@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

$navWidth: 250px;

:host {
  //   overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: $primary;
  background: linear-gradient(
    60deg,
    rgba(darken($blue, 12%), 1) -10%,
    rgba(darken($primary, 16%), 1) 110%
  );
}
a{
 display: flex;
 align-items: center;

  button{
    height: 100%;
  }
 
}
a,
.button {
  rap-svg-ico {
    width: 20px;
    height: auto;
    display: block;
    color: $gray400;
    // transition: all 0.2s ease-in-out;
  }
  &.active {
    rap-svg-ico {
      color: $blue;
    }
  }
  &:hover rap-svg-ico {
    color: $primary;
  }
}

div.panel-wrapper {
  display: flex;
  flex: 1;
  background-color: rgba($white, 1);
}

main {
  //   border-radius: $radius;
  overflow-x: hidden;
  background-color: rgba($white, 1);
  flex: 1;
}

aside {
  // background-color: mix($blue, $gray100, 95%);
  color: $white;
  width: $navWidth;
  position: sticky;
  max-height: 100vh;
  top: 0;
  background: transparent linear-gradient(180deg, rgba(14, 64, 97, 1) 0%, rgba(14, 64, 97, 1) 0%, rgba(58, 34, 61, 1) 87%, rgba(88, 14, 36, 1) 100%) 0% 0% no-repeat padding-box;
}
.smallBar{
  width: 70px;
}
.burger-btn{
  border: none;
  background: transparent;
  outline: none;
}

header {
  z-index: 98;
  display: flex;
  flex-direction: row;
  position: sticky;
  right: 0;
  left: $navWidth;
  top: 0;
  min-height: 48px;
  background-color: rgba($white, 0.8);
  @include material-shadow(1);
  backdrop-filter: blur(1rem);
  //
}

footer {
  width: 100%;
  z-index: 98;
  display: flex;
  flex-direction: row;
  position: sticky;
  right: 0;
  left: $navWidth;
  bottom: 0;
  min-height: 32px;
  background-color: rgba($white, 0.8);
  backdrop-filter: blur(1rem);
}

.panel-header-buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.panel-top-bar{
  width: 100%;
  height: 55px;
  padding-right: 65px;
  background: transparent linear-gradient(270deg, rgba(88, 14, 36, 1) 0%, rgba(14, 64, 97, 1) 100%) 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-left: 1px solid white;
  .currency{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    margin-right: 63px;
    p{
      padding-right: 10px;
      margin-bottom: 0;
     
    }
    .currencyItem{
      font-weight: 100;
      display: flex;
      justify-content: center;
      padding-right: 10px;
    }
    
  }
  .currency-block{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }
}
.lang-conteiner{
  position: relative;
  background: orangered;
  z-index: 10000;
  width: 45px;



}

.all{
  position: absolute;
  z-index: 10000;
  width: 40px;
  display:block;
  list-style:none;
  li{
    display:block;
    a{
      display:block;
    }
  }
  
}

.dropdown {
  
  position: relative;
  display: inline-block;
  z-index: 1000;
  width: 35px;
  .active-lang{
    width: 55px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
.drop-icon{

  // padding-left: 10px
}
  }
  div{
    width: 135px;
    img{
      border-radius: 6px;
      width: 35px;
      height: 35px;
    margin-right: 10px;
    }
  }
}

.dropdown-content {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color:white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 64px;
  left: -75px;
  width: 45px;
  z-index: 10000;
  
  
  div{
    // width: 35px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding-left: 7px;
    border-radius: 0 0 5px 5px;
    img{
      width: 35px;
    }
    p{
      font-size: 14px;
      font-weight: 100;
      padding-left: 12px;
      margin-bottom:0; 
    }
  }
}

.dropdown:hover .dropdown-content {
  display: flex;
  align-items: center
}
.dropdown:hover .drop-icon  {
  transform: rotate(180deg);
}
.drop-item:hover {
  background: rgb(233, 231, 231);
}
.user-drop{
  cursor: pointer;
  margin-left: 50px;
  .drop-top{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding:20px 0;
    cursor: pointer;
    .drop-icon{
      cursor: pointer;
      width: 35px;
      height: 35px;
      background: white;
      border-radius: 7px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
      p{
        cursor: pointer;
        font-size: 20px;
        font-weight: 100;
        padding-left: 10px;
        margin-bottom: 0;
        color: white;
      }
  }
  .dropdown-content-user{
   
  display: none;
  position: absolute;
  background-color:white;
  width:135px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 69px;
  left: 0px;
  width: 135px;
  z-index: 10000;
  // border-bottom-right-radius: 5px
  border-radius:0 0 5px 5px;
  &:hover{
    background: rgb(233, 231, 231);
  }

  p{
    cursor: pointer;
    font-size: 14px;
    font-weight: 100;
    padding:10px 0; 
    margin-bottom: 0;
 
  }
  }
}
.user-drop:hover .dropdown-content-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
  
}
.dropdown-content-user:hover {
  cursor: pointer;
  background: rgb(233, 231, 231);
}
.prapor{
  width: 35px;
  height: 35px;
  img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
}
.drop-item{
  width: 135px;
}

.search-input-container {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-input {
  border-radius: 5px;
}

.search-icon {
  width: 25px;
  height: 25px;
  margin-left: -37px;
}
