<aside *ngIf="showLeftSide">
  <ng-content select="[nav]"></ng-content>
</aside>

<div class="panel-wrapper">
  <header *ngIf="showTop">
    <ng-content select="[header]"></ng-content>
    <div class="panel-header-buttons">
      <button style="position: relative;"  [attr.data-tooltip-left]="labels.download" @scale
              *ngIf="isDwnloadBtn"
              class="button transparent small"
              (click)="onDwnloadClick()"
      >
        <rap-svg-ico [src]="'assets/icons/save.svg'"></rap-svg-ico>
      </button>
      <button style="position: relative;" [attr.data-tooltip-left]="labels.filter" @scale
        *ngIf="showRightToggleBtn"
        class="button transparent small"
        [ngClass]="{ active: showRightSide }"
        (click)="toggleFilter ? toggleRight() : onFilterClick()"
      >
        <rap-svg-ico [src]="'assets/icons/filter.svg'"></rap-svg-ico>
      </button>

      <button style="position: relative;"  [attr.data-tooltip-left]="labels.save" @scale
        *ngIf="isSaveBtn"
        class="button transparent small"
        (click)="onSaveClick()"
      >
        <rap-svg-ico [src]="'assets/icons/save.svg'"></rap-svg-ico>
      </button>

      <button style="position: relative;"  [attr.data-tooltip-left]="labels.cancel"
       @scale
        *ngIf="isCancelBtn"
        class="button transparent small"
        (click)="onCancelClick()"
      >
        <rap-svg-ico [src]="'assets/icons/cancel.svg'"></rap-svg-ico>
      </button>

      <button style="position: relative;"  [attr.data-tooltip-left]="labels.review" @scale
        *ngIf="isReviewBtn"
        class="button transparent small"
        (click)="onReviewClick()"
      >
        <rap-svg-ico [src]="'assets/icons/feedback.svg'"></rap-svg-ico>
      </button>

      <button style="position: relative;"  [attr.data-tooltip-left]="labels.add" @scale
        *ngIf="isPlusBtn"
        class="button transparent small"
        (click)="onPlusClick()"
      >
        <rap-svg-ico [src]="'assets/icons/plus.svg'"></rap-svg-ico>
      </button>





    </div>
    <ng-content select="[controls]"></ng-content>
  </header>

  <ng-content select="[content]"></ng-content>
</div>
