<rap-panel-content
        [showForm]="pages.panelSettings.form"
        [showRightSide]="pages.panelSettings.right"
>
    <div form>
        <app-storage-order-form [selected]="selected" ></app-storage-order-form>
    </div>
    <div filter></div>
    <div content class="padding">
        <table class="raisins-table border-all radius">
            <thead>
            <tr>
                <th width="64px">{{ "APP.id" | translate }}</th>
                <th width="">{{ "APP.title" | translate }}</th>
                <th width="168px">{{ "MENU.localization.color" | translate }}</th>
                <th width="168px">{{ "APP.updated_at" | translate }}</th>
                <th width="168px">{{ "APP.action" | translate }}</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let storege of arrStorage ; let i=index"
                [ngClass]="">
                <td data-label="ID" class="text-center">{{i+1}}</td>
                <td class="text-center">
                    <div class="flex wrap" style="width: 100%;">
                             <span class="title flag-container" *ngFor="let stor of storege.descriptions">
                                 <img class="flag" src="{{ langService.getFromList(stor.lang_id)?.flag }}"/>
                               <span class="name">{{ stor.name }}</span>
                             </span>
                    </div>
                </td>
                <td class="text-center ">
                          <div class="box" [ngStyle]="{'background':storege.color}" ></div>
                </td>
                <td class="text-center">
                    {{storege.updated_at==null?'-':storege.updated_at}}
                </td>
                <td>
                    <div class="flex wrap center">
                        <button
                                style="position: relative;"
                                [attr.data-tooltip-left]="'APP.edit' | translate"
                                role="button"
                                (click)="edit(storege)"
                                class="button transparent radius"
                        >
                            <rap-svg-ico class="editBtn" [src]="'assets/icons/edit.svg'"></rap-svg-ico>
                        </button>

                        <rap-delete-button
                                (click)="deleteStatus(storege)"
                                data-tooltip-left="Delete"
                                class="button transparent radius"
                                [src]="'assets/icons/delete.svg'"
                        ></rap-delete-button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- <app-pagination
                class="radius"
                [page]="storageService.page"
                [total]="Math.ceil(alldata?.count/alldata?.take)"
                [pagesToShow]="5"
                (goNext)="pageNextHandler()"
                (goPrev)="pagePrevHandler()"
                (goPage)="pageToHandler($event)"
                (pageChanged)="pageChangedHandler()"
        ></app-pagination> -->

      <mat-paginator
      [length]="alldata?.count"
      [pageSize]="alldata?.take"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="pageEvent($event)  "
      >
      </mat-paginator>
    </div>
</rap-panel-content>



