<div>
    <form [formGroup]="productDiscountForm">
        <div class="form-row">
            <div class="description">
                <label for="date_start">{{ "APP.saleDateStart" | translate }}</label>
            </div>
            <div class="original">
                <input 
                    class="radius"
                    type="date"
                    id="date_start"
                    formControlName="date_start"
                    required/>
                <div *ngIf="formAuthControls?.date_start?.invalid && (formAuthControls?.date_start?.dirty || formAuthControls?.date_start?.touched)" class="error-message">
                    <div *ngIf="formAuthControls?.date_start?.errors.required" class="">
                        {{ 'settings.requiredDateStart' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="description">
                <label for="date_end">{{ "APP.saleDateEnd" | translate }}</label>
            </div>
            <div class="original">
                <input 
                    class="radius" 
                    type="date"
                    id="date_end"
                    formControlName="date_end"
                    required/>
                <div *ngIf="formAuthControls?.date_end?.invalid && (formAuthControls?.date_end?.dirty || formAuthControls?.date_end?.touched)" class="error-message">
                    <div *ngIf="formAuthControls?.date_end?.errors.required" class="">
                        {{ 'settings.requiredDateEnd' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="description">
                <label for="new_price">{{ "APP.saleNewPrice" | translate }}</label>
            </div>
            <div class="original">
                <input 
                    class="radius" 
                    type="text"
                    id="new_price"
                    formControlName="new_price"
                    required/>
                <div *ngIf="formAuthControls?.new_price?.invalid && (formAuthControls?.new_price?.dirty || formAuthControls?.new_price?.touched)" class="error-message">
                    <div *ngIf="formAuthControls?.new_price?.errors.required" class="">
                        {{ 'settings.requiredNewPrice' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="button-add-save">
            <button class="plus">
                <rap-svg-ico
                    class="cursor-pointer"
                    [src]="'assets/icons/plus.svg'"
                    (click)="addNewPrice()">
                </rap-svg-ico>
            </button>
            <button>  
                <rap-svg-ico 
                    class="cursor-pointer"
                    [src]="'assets/icons/save.svg'"
                    (click)="saveNewPrice(!!productDiscountForm.valid)">
                </rap-svg-ico>
            </button>
        </div>
    </form>
    <div class="sale-list">
        <p>{{ "APP.listSale" | translate }}</p>
        <div class="sale-list__block">
        <table>
            <tr>
                <th class="number"></th>
                <th class="number">№</th>
                <th class="date-start">{{ "APP.saleListStart" | translate }}</th>
                <th class="date-end">{{ "APP.saleListEnd" | translate }}</th>
                <th class="price">{{ "APP.price" | translate }}</th>
            </tr>
            
            <tr *ngFor="let discount of productDiscounts">
                <th>
                    <input
                    class="checkbox-item  label"
                    type="checkbox"
                    name="check"
                    (click)="selectedDiscount(discount.id)"
                    /></th>
                <th>{{ discount.id }}</th>
                <th>{{ discount.date_start }}</th>
                <th>{{ discount.date_end }}</th>
                <th>{{ discount.price }} грн</th>
            </tr>

        </table>
        <div class="delete-discount-btn-wrapper">
            <rap-delete-button
                class="button transparent radius delete-discount-btn"
                (click)="deleteSale(selectedDiscountId)"
                [src]="'assets/icons/delete.svg'"
            ></rap-delete-button>
        </div>
        </div>
    </div>
</div>


