<div>
    <div class="form-row">
        <div class="description">
            <label for="">{{ "APP.saleDateStart" | translate }}</label>
        </div>
        <div class="original">
            <input class="radius" type="date"/>
        </div>
    </div>
    <div class="form-row">
        <div class="description">
            <label for="">{{ "APP.saleDateEnd" | translate }}</label>
        </div>
        <div class="original">
            <input class="radius" type="date"/>
        </div>
    </div>
    <div class="form-row">
        <div class="description">
            <label for="">{{ "APP.saleNewPrice" | translate }}</label>
        </div>
        <div class="original">
            <input class="radius" type="number"/>
        </div>
    </div>
    <div class="button-add-save">
        <button class="plus"><rap-svg-ico [src]="'assets/icons/plus.svg'"></rap-svg-ico></button>
        <button>  <rap-svg-ico [src]="'assets/icons/save.svg'"></rap-svg-ico></button>
    </div>
    <div class="sale-list">
        <p>{{ "APP.listSale" | translate }}</p>
        <div class="sale-list__block">
        <table>
            <tr>
                <th class="number">№</th>
                <th class="date-start">{{ "APP.saleListStart" | translate }}</th>
                <th class="date-end">{{ "APP.saleListEnd" | translate }}</th>
                <th class="price">{{ "APP.price" | translate }}</th>
            </tr>
            <tr>
                <th>1</th>
                <th>05.07.2020</th>
                <th>15.10.2020</th>
                <th>100грн</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

        </table>

        </div>
    </div>
</div>

