<rap-step-tabs>
    <rap-step-tab [active]="true" [title]="'APP.base' | translate">
        <fieldset class="radius" style="margin-bottom: 16px;">
            <legend>{{ "category.description" | translate }}</legend>
         <app-country-form-main [selected]="selected"></app-country-form-main>
        </fieldset>
    </rap-step-tab>
    
    <rap-step-tab *ngIf="selected.id" [title]="'delivery.deliveryName' | translate">
        <fieldset class="radius" style="margin-bottom: 16px;">
            <legend>{{ 'delivery.deliveryName' | translate }}</legend>
            <app-country-form-delivery 
                [selected]="selected" 
                [selectedCountryDeliver]="selectedCountryDeliver"
            ></app-country-form-delivery>
        </fieldset>
    </rap-step-tab>

    <rap-step-tab *ngIf="selected.id" [title]="'delivery.deliveryPayment' | translate">
        <fieldset class="radius" style="margin-bottom: 16px;">
            <legend>{{ 'delivery.deliveryPayment' | translate }}</legend>
            <app-country-form-payment 
                [selected]="selected" 
                [selectedCountryPayment]="selectedCountryPayment"
            ></app-country-form-payment>
        </fieldset>
    </rap-step-tab>
</rap-step-tabs>

