<rap-panel-content
  [showForm]="pages.panelSettings.form"
  [showRightSide]="pages.panelSettings.right"
>
  <div form>
    <app-site-menu-form
      [title]="'MENU.manage_site.addEditMenu' | translate"
      [model]="siteMenuForm.model"
    ></app-site-menu-form>
  </div>
  <div filter></div>
  <div content class="padding">
    <ng-template #notfound>
      <div class="d2 padding flex center gray500 text-center">{{ "APP.no_rec_yet" | translate }}<br>😞</div>
    </ng-template>
    <table
      class="raisins-table border-all radius"
      *ngIf="siteMenu.data?.data.length > 0; else notfound"
    >
      <thead>
        <tr>
          <!-- <th width="64px">{{ "APP.id" | translate }}</th> -->
          <th width="64px">{{ "APP.id" | translate }}</th>
          <th width="">{{ "APP.title" | translate }}</th>
          <th width="128px">{{ "APP.type" | translate }}</th>
          <th width="128px">{{ "APP.updated_at" | translate }}</th>
          <th width="128px">{{ "APP.action" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of siteMenu.data?.data"
          [ngClass]="{ off: !item.status }"
        >
          <!-- <td data-label="ID" class="text-center">{{ item.id }}</td> -->
          <td data-label="ID" class="text-center">{{ item.sort_order }}</td>

          <td>
            <div class="flex wrap" style="width: 100%;">
              <span class="title flag-container" *ngFor="let desc of item.descriptions">
                <!-- <span class="flag">
                  {{ langService.getFromList(desc.lang_id)?.flag }}
                </span> -->
                <img class="flag" src="{{ langService.getFromList(desc.lang_id)?.flag }}"/>
                <span class="name">{{ desc.title }}</span>
              </span>
            </div>
          </td>

          <td>{{item.type}}</td>

          <td class="text-center">
            <small>{{ item.updated_at |localDate: "d MMMM HH:mm" }}</small>
            <small *ngIf="!item.updated_at">—</small>
          </td>
          <td>
            <div class="flex wrap center">
              <rap-delete-button
                data-tooltip-left="on/off"
                class="button transparent radius"
                [ngClass]="{ on: item.status, off: !item.status }"
                (click)="updateStatus(item)"
                [@changeValueHighlight]="item.status"
                [src]="
                  item.status != 1
                    ? 'assets/icons/eye-cloce.svg'
                    : 'assets/icons/eye-open.svg'
                "
              ></rap-delete-button>
              <button
                style="position: relative;"
                data-tooltip-left="Edit"
                role="button"
                (click)="edit(item)"
                class="button transparent radius"
              >
                <rap-svg-ico [src]="'assets/icons/edit.svg'"></rap-svg-ico>
              </button>

              <!-- <rap-delete-button
                data-tooltip-left="Delete"
                class="button transparent radius"
                (confirmed)="(null)"
                [src]="'assets/icons/delete.svg'"
              ></rap-delete-button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <app-pagination
      class="radius"
      [page]="siteMenu.page"
      [total]="Math.ceil(siteMenu.data.count / siteMenu.data.take)"
      [pagesToShow]="5"
      (goNext)="pageNextHandler()"
      (goPrev)="pagePrevHandler()"
      (goPage)="pageToHandler($event)"
      (pageChanged)="pageChangedHandler()"
    ></app-pagination> -->
    <div class="footer-wrapper">
      <mat-paginator *ngIf="siteMenu.data.count >= 5" class="footer"
        [length]="siteMenu.data.count"
        [pageSize]="siteMenu.data.take"
        [pageSizeOptions]="[5, 10, 25]"
        (page)="pageEvent($event)"
      >
      </mat-paginator>
    </div>
  </div>
</rap-panel-content>
