<div class="form-row">
  <div class="description">
    <label for="">{{ "APP.location" | translate }}</label>
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.location" />
  </div>
</div>
<div class="form-row">
  <div class="description">
    <label for="">{{ "APP.price" | translate }}</label>
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.price" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ "APP.quantity" | translate }}</label>
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.quantity" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ "APP.minimumQuantity" | translate }}</label>
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.minimum" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ "APP.sort_order" | translate }}</label>
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.sort_order" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ "APP.weightClass" | translate }}</label>
  </div>
  <div class="original">  
    <select class="radius"  [(ngModel)]="model.weight_class_id" >
      <option  *ngFor="let i of arrWeight?.data" value={{i.id}}  (click)='test(i.id)'>{{i.description[0].title}}</option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ "APP.weight" | translate }}</label>
  </div>
  <div class="original">
    <input class="radius" type="text" [(ngModel)]="model.weight" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ 'APP.requiresShipping' | translate }}</label>
  </div>
  <div class="original">
    <select class="radius" [(ngModel)]="model.shipping">
      <option value="1">{{ 'APP.yes' | translate }}</option>
      <option value="0">{{ 'APP.no' | translate }}</option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ 'APP.subtractStock' | translate }}</label>
  </div>
  <div class="original">
    <select class="radius" [(ngModel)]="model.subtract">
      <option value="1">{{ 'APP.yes' | translate }}</option>
      <option value="0">{{ 'APP.no' | translate }}</option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ 'APP.lengthClass' | translate }}</label>
  </div>
  <div class="original">
    <select class="radius" [(ngModel)]="model.lenght_class_id">
      <option value="1">{{ 'APP.defaultCm' | translate }}</option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ 'APP.dimensions' | translate }} (L x W x H)</label>
  </div>
  <div class="original">
    <div class="flex wrap">
      <input
        class="radius"
        type="text"
        [(ngModel)]="model.lenght"
        placeholder="lenght"
      />
      <input
        class="radius"
        type="text"
        [(ngModel)]="model.width"
        placeholder="width"
      />
      <input
        class="radius"
        type="text"
        [(ngModel)]="model.height"
        placeholder="height"
      />
    </div>
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ 'APP.dateAvaliable' | translate }}</label>
  </div>
  <div class="original">
    <input class="radius" type="date" [(ngModel)]="model.date_avaliable" />
  </div>
</div>

<div class="form-row">
  <div class="description">
    <label for="">{{ "APP.stockStatus" | translate}}</label>
  </div>
  <div class="original">
    <!-- <select class="radius" [(ngModel)]="model.stock_status_id">
      <option value="1">{{ "APP.default" | translate }}</option>
    </select> -->
    <select class="radius"  [(ngModel)]="model.stock_status_id" >
        <option  *ngFor="let item of arrStorage?.data" value={{item.id}}   >
         <span>{{item.descriptions[0].name}}</span>
           <!-- <span class="title flag-container" *ngFor="let desc of item?.descriptions">
              <img class="flag" src="{{ langService.getFromList(desc.lang_id)?.flag }}"/>
              <span class="name">{{ desc.name }}</span>
            </span> -->
        </option>
    </select>
  </div>
</div>
<!-- 
<div class="form-row">
  <div class="description">
    <label for="">{{ "APP.taxClass" | translate}}</label>
  </div>
  <div class="original">
    <select class="radius" [(ngModel)]="model.tax_class_id">
      <option value="1">{{ "APP.default" | translate }}</option>
    </select>
  </div>
</div> -->
