<rap-panel-content
  [showForm]="pages.panelSettings.form"
  [showRightSide]="pages.panelSettings.right"
>
  <div form>
    <app-manufacturer-form
      [title]="'MENU.manage_site.addManufacturer' | translate"
      [manufacturer]="manufacturerForm.manufacturer"
      [langs]="this.langService.languages.data"
    ></app-manufacturer-form>
  </div>
  <div filter></div>
  <div content class="padding">
    <ng-template #notfound>
      <div class="d2 padding flex center gray500 text-center">{{ "APP.no_rec_yet" | translate }}<br>😞</div>
    </ng-template>
    <!-- {{manufacturer.manufacturer?.data.manufacturers|json}} -->
    <table
      class="raisins-table border-all radius"
      *ngIf="manufacturer.manufacturer?.data.length > 0; else notfound"
    >
      <thead>
        <tr>
          <th width="64px">{{ "APP.id" | translate }}</th>
          <th width="64px">{{ "APP.code" | translate }}</th>
          <th width="64px">{{ "APP.logo" | translate }}</th>
          <th width="64px">{{ "APP.rating" | translate }}</th>
          <th width="">{{ "APP.title" | translate }}</th>
          <th width="128px">{{ "APP.updated_at" | translate }}</th>
          <th width="128px">{{ "APP.action" | translate }}</th>
        </tr>
      </thead>
      <tbody>
       
        <tr
          *ngFor="let item of manufacturer.manufacturer?.data"
          [ngClass]="{ off: !item.status }"
        >
          <td data-label="ID" class="text-center">{{ item.id }}</td>
          <td class="text-center">{{ item.code }}</td>
          <td data-label="LOGO">
            <div class="ratio">
              <div class="imax">
                <img
                  class="contain"
                  [src]="'//' + 'api.showu.com.ua' + item.image.src_mini"
                  [alt]="item.id"
                />
              </div>
            </div>
          </td>
          <td class="text-center">
            <rap-rating [rating]="item.rating"></rap-rating>
          </td>
          <td>
            <div class="flex wrap" style="width: 100%;">
              <ng-container *ngIf="!userRoleStatus">
                  <!-- *ngFor="let desc of item.description" -->
                <span class="title flag-container"  *ngFor="let desc of item.description">
                  <!-- <span class="flag">
                    {{ langService.getFromList(desc.lang_id)?.flag }}
                  </span> -->
                  <img class="flag" src="{{ langService.getFromList(desc.lang_id)?.flag }}"/>
                  <span class="name">{{ desc.name }}</span>
                </span>
              </ng-container>
              <ng-container *ngIf="userRoleStatus"> 
              <span class="title flag-container" *ngFor="let desc of item.description">
                <!-- <span class="flag">
                  {{ langService.getFromList(desc.lang_id)?.flag }}
                </span> -->
                <img class="flag" src="{{ langService.getFromList(desc.lang_id)?.flag }}"/>
                <span class="name">{{ desc.name }}</span>
              </span>
            </ng-container>
           
            </div>
          </td>

          <td class="text-center">
            <small>{{ item.updated_at |localDate: "d MMMM HH:mm"}}</small>
            <small *ngIf="!item.updated_at">—</small>
          </td>
          <td>
            <div class="flex wrap center">
              <rap-delete-button
                data-tooltip-left="on/off"
                class="button transparent radius"
                [ngClass]="{ on: item.status, off: !item.status }"
                (click)="updateStatus(item)"
                [@changeValueHighlight]="item.status"
                [src]="
                  item.status != 1
                    ? 'assets/icons/eye-cloce.svg'
                    : 'assets/icons/eye-open.svg'
                "
              ></rap-delete-button>

              <button
                style="position: relative;"
                data-tooltip-left="Edit"
                role="button"
                (click)="edit(item)"
                class="button transparent radius"
              >
                <rap-svg-ico [src]="'assets/icons/edit.svg'"></rap-svg-ico>
              </button>

              <rap-delete-button
                data-tooltip-left="Delete"
                class="button transparent radius"
                (click)="deleteManufactures(item)"
                [src]="'assets/icons/delete.svg'"
              ></rap-delete-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <pre>{{ langServise.languages.data | json }}</pre> -->

    <!-- <app-pagination
      class="radius"
      [page]="manufacturer.page"
      [total]="Math.ceil(manufacturer.manufacturer.count / manufacturer.manufacturer.take)"
      [pagesToShow]="5"
      (goNext)="pageNextHandler()"
      (goPrev)="pagePrevHandler()"
      (goPage)="pageToHandler($event)"
      (pageChanged)="pageChangedHandler()"
    ></app-pagination> -->
    <div class="footer-wrapper">
      <mat-paginator *ngIf="manufacturer.manufacturer.count >= 5" class="footer"
        [length]="manufacturer.manufacturer.count"
        [pageSize]=" manufacturer.manufacturer.take"
        [pageSizeOptions]="[5, 10, 25]"
        (page)="pageEvent($event)"
      >
      </mat-paginator>
    </div>
  </div>
</rap-panel-content>
