<div class="reviews-form-container">
    <div class="reviews-form-title">{{ 'reviews.reviewsFilters' | translate }}</div>
    <div>
        <div class="reviews-wrapper">
            <div class="review-content">
                <div class="reviews-content__main">
                    <form [formGroup]="orderFiltersForm">
                        <div class="reviews-date">
                            <div class="reviews-date-title">{{ 'reviews.reviewsDateFrom' | translate }}</div>
                            <div class="orders-filter__input-content">
                                <input formControlName="date_start" type="date" class="reviews-date-text" required/>
                                <!-- <div *ngIf="formAuthControls?.date_start?.invalid && (formAuthControls?.date_start?.dirty || formAuthControls?.date_start?.touched)" class="error-message">
                                    <div *ngIf="formAuthControls?.date_start?.errors.required" class="">
                                        {{ 'orders.orderDateStart' | translate }}
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="reviews-date">
                            <div class="reviews-date-title">{{ 'reviews.reviewsDateTo' | translate }}</div>
                            <div class="orders-filter__input-content">
                                <input formControlName="date_end" type="date" class="reviews-date-text" required/>
                                <!-- <div *ngIf="formAuthControls?.date_end?.invalid && (formAuthControls?.date_end?.dirty || formAuthControls?.date_end?.touched)" class="error-message">
                                    <div *ngIf="formAuthControls?.date_end?.errors.required" class="">
                                        {{ 'orders.orderDateEnd' | translate }}
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="reviews-date">
                            <div class="reviews-response-title">{{ 'orders.orderManufacturer'| translate }}</div>
                            <div class="reviews-response-status sort-orders-content">
                                <mat-form-field appearance="standart" class="sort-products">
                                    <div class="sort-products-wrapper">
                                        <mat-select
                                            id="manufacturer"
                                            formControlName="manufacturer"
                                            required
                                        >
                                            <div *ngFor="let manufacturer of allManufacturers">
                                                <mat-option [value]="manufacturer.id">
                                                    {{ manufacturer.name | translate }}
                                                
                                                </mat-option>
                                            </div>
                                        </mat-select>
                          
                                    </div>
                                </mat-form-field>
                                <!-- <div *ngIf="formAuthControls?.manufacturer?.invalid && (formAuthControls?.manufacturer?.dirty || formAuthControls?.manufacturer?.touched)" class="error-message">
                                    <div *ngIf="formAuthControls?.manufacturer?.errors.required" class="">
                                        {{ 'orders.orderManufacturerIsRequired' | translate }}
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="reviews-date">
                            <div class="reviews-response-title">{{ 'orders.orderClient'| translate }}</div>
                            <div class="reviews-response-status" (clickOutside)="isSelectedClient = false;">
                                <div class="order-client-search__wrapper">
                                    <input
                                        class="order-search-client__input cursor-pointer"
                                        type="text"
                                        id="client"
                                        formControlName="client"
                                        (input)="searchClient()"
                                        placeholder="{{ 'orders.clientSearch' | translate }}"
                                        required
                                    />
                                    <img src="assets/icons/search.svg" class="order-client-search__icon cursor-pointer"/>
                                </div>
                                <div *ngIf="ordersSearchClientsData && isSelectedClient" class="clients__list-wrapper">
                                    <div *ngFor="let client of ordersSearchClientsData" class="clients__list">
                                        <div class="selected-client cursor-pointer"
                                            (click)="selectedClient(client)"
                                        >
                                            {{ client?.first_name }} {{ client?.last_name }}
                                        </div>
                                    </div>
                                </div>
                                <!-- <div *ngIf="formAuthControls?.client?.invalid && (formAuthControls?.client?.dirty || formAuthControls?.client?.touched)" class="error-message">
                                    <div *ngIf="formAuthControls?.client?.errors.required" class="">
                                        {{ 'orders.orderClientIsRequired' | translate }}
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="reviews-date">
                            <div class="reviews-response-title">{{ 'MENU.orders.status'| translate }}</div>
                            <div class="reviews-response-status sort-orders-content">
                                <mat-form-field appearance="standart" class="sort-products">
                                    <div class="sort-products-wrapper">
                                        <mat-select
                                            id="status"
                                            formControlName="status"
                                            required
                                        >
                                            <div *ngFor="let item of allStatus">
                                                <mat-option [value]="item.order_status_id">
                                                    {{ item.descriptions[0].dectiption | translate }}
                                                </mat-option>
                                            </div>
                                        </mat-select>
                                    </div>
                                </mat-form-field>
                              
                            </div>
                        </div> -->
                        <button
                            class="order-filters__submit-btn cursor-pointer"
                            (click)="filterClientOrders()"
                        >
                            {{ 'orders.orderFilterBtn' | translate }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

