.search-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.search-input {
    border-radius: 5px;
}
  
.search-icon {
    width: 25px;
    height: 25px;
    margin-left: -37px;
}

@media screen and(max-width: 768px) {
    input {
        height: 30px;
    }
}
  
.search-container {
    position: relative;
    .search-results {
        width: 100%;
        z-index: 1001;
        position: absolute;
        top: calc(100% + 15px);
        padding: 23px 19px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 5px;
        overflow-y: scroll;
        max-height: 550px;

        p {
            text-align: left;
            font-size: 12px;
            line-height: 21px;
            letter-spacing: 0px;
            color: #333333;
            cursor: pointer;
            margin-bottom: 0;

            &:hover {
                color: #9F1941;
            }

            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    }
}
  
.search-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    outline: none;
}
  
.search-img {
    min-width: 40px;
    max-width: 45px;
}
  
.search-name-price {
    color: black;
    margin-left: 31px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
}
  
.search-name {
    margin-bottom: 6px;
}
  
.search-price {
    margin-top: 6px;
}

@media (max-width: 480px) {
    .search-name-price {
        max-width: 140px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .search-name-price {
        max-width: 125px;
        width: 100%;
    }
}
